---
title: Hydroculture IoT
customTitle: "true"
description: Hydroculture IoT is an IoT platform for data collection, processing, visualization, and device management based on Thingsboard
---

<!Doctype html>
<html id="home">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<section id="hero" class="light-text"
		 data-vide-bg="mp4: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.mp4,
                       webm: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.webm,
                       ogv: https://s3-us-west-1.amazonaws.com/tb-videos/tb-cover2.ogv,
                       poster: /video/tb-cover.jpg"
		 data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
	<div class="video-cover"></div>
	<div id="hero-content">
		<h1 class="header-animation tb-title">Hydroculture IoT</h1>
		<h4 class="header-animation tb-sub-title">Device management, data collection, processing and visualization for your IoT solution</h4>
		<div class="header-animation">
			<a href="#intro" class="button learn-tb">Learn More</a>
		</div>
		<div class="tb-arrow">
			<a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
		</div>
	</div>
</section>

<div id="overflow">
	<section id="intro">
		<main>
			<h1><a href="docs/getting-started-guides/what-is-hydroculture/">Hydroculture IoT</a> is an IoT platform for data collection, processing, visualization, and device management</h1>
			<h1 class="second">It enables device connectivity via industry standard IoT protocols - MQTT, CoAP and HTTP and supports both cloud and on-premises deployments. Hydroculture IoT combines scalability, fault-tolerance and performance so you will never lose your data.</h1>
		</main>
	</section>

	<section id="manage">
		<main>
			<div id="features-top">
				<div class="background">
					<div class="main1"></div><div class="small1"></div><div class="small2"></div><div class="small3"></div><div class="small4"></div>
				</div>
				<div class="block">
					<div class="feature-des"><h2>Provision and manage devices and assets</h2>
						<p>Provision, monitor and control your IoT entities in secure way using rich server-side APIs. Define relations between your devices, assets, customers or any other entities.</p>
						<a class="read-more-button" href="/docs/user-guide/entities-and-relations/">Read more<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
					</div>
					<div class="manage">
					<img class="device-list" src="/images/device-list.svg">
					<img class="device-manage" src="/images/device-manage.svg">
					</div>
				</div>
				<div class="block vis">
					<div class="visualize">
						<img class="vis1" src="/images/visualize1.svg">
						<img class="vis2" src="/images/visualize2.svg">
						<img class="vis3" src="/images/visualize3.svg">
					</div>
					<div class="feature-des"><h2>Collect and visualize data</h2>
						<p>Collect and store telemetry data in scalable and fault-tolerant way. Visualize your data with built-in or custom widgets and flexible dashboards. Share dashboards with your customers.</p>
						<a class="read-more-button" href="/docs/user-guide/visualization/">Read more<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
					</div>
				</div>
			</div>
		</main>
	</section>

	<section id="react">
		<main>
			<div id="features-top">
				<div class="background">
					<div class="main2"></div><img src="/images/grid.svg"><div class="small5"></div><div class="small6"></div>
				</div>
				<div class="block dark">
					<div class="feature-des"><h2>Process and React</h2>
						<p>Define data processing rule chains. Transform and normalize your device data. Raise alarms on incoming telemetry events, attribute updates, device inactivity and user actions.</p>
						<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read more<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
					</div>
					<div class="process">
						<img class="react" src="/images/react.svg">
						<div></div>
						<img class="add-rule" src="/images/add-rule.svg">
					</div>
				</div>
				<div class="block micro">
					<img src="/images/microservices.svg">
					<div class="feature-des"><h2>Microservices</h2>
						<p>Construct your Hydroculture IoT cluster and get maximum scalability and fault-tolerance with microservices architecture. Hydroculture IoT also supports both cloud and on-premises deployments.</p>
						<a class="read-more-button" href="/docs/reference/msa/">Read more<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
					</div>
				</div>
			</div>
		</main>
	</section>

	<section id="products">
		<main>
			<div class="background">
				<div class="products"></div><div class="small7"></div><div class="small8"></div>
			</div>
			<h3 class="product-title">Products</h3>
			<div class="product-list">
				<div>
					<p>Hydroculture IoT</p>
					<h2>Standard Edition</h2>
					<h3>Bring your ideas to life</h3>
					<img src="/images/community.svg">
					<a href="/docs/">Read more</a>
				</div>
				<div class="main">
					<p>Hydroculture IoT</p>
					<h2>Cloud</h2>
					<h3>Keep everything in a secure cloud</h3>
					<img src="/images/cloud.svg">
					<a href="/products/paas/">Read more</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<a href="products/">View all products</a>
			</div>
		</main>
	</section>

	<section id="dashboard_description">
		<main>
			<div class="background">
				<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
			</div>
			<h3>Real-Time IoT Dashboards</h3>
			<p>Hydroculture IoT allows you to create rich IoT Dashboards for data visualization and remote device control in real-time. More than 30 customizable widgets allows you to build end-user custom dashboards for most IoT use-cases.</p>
            <div class="usecase-carousel owl-carousel owl-theme">
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Smart energy</h2>
                        <p>Deliver and store data from smart meters in reliable and fault-tolerant way, visualize real-time and historical energy consumption data on customizable end-user dashboards, integrate with third-party analytics frameworks and solutions.</p>
                        <a class="read-more-button dash" href="/smart-energy/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/smart-energy/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/smart-energy/se4.png"></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Smart farming</h2>
                        <p>Collect important indicators for your agricultural production such as soil conditions or facilities state via IoT sensors and visualize them using end-user customizable dashboards provided by Hydroculture IoT platform.</p>
                        <a class="read-more-button dash" href="/smart-farming/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/smart-farming/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/smart-farming/sf1.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Fleet tracking</h2>
                        <p>Hydroculture IoT platform allows to track vehicles state and alerts via various sensors, plot vehicle routes in real-time and browse their sensors reading history at the same time using customizable high quality widgets and dashboards.</p>
                        <a class="read-more-button dash" href="/fleet-tracking/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/fleet-tracking/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/fleet-tracking/ft3.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Smart metering</h2>
                        <p>Collect, store and aggregate data from smart meters in reliable and fault-tolerant way. Analyze resource consumption and raise alerts on leakage, anomaly or fraud. Present results of the analysis to end users.</p>
                        <a class="read-more-button dash" href="/smart-metering/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/smart-metering/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/smart-metering/sm1.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Environment Monitoring</h2>
                        <p>Monitor and analyze indoor and outdoor environments using a wide range of sensors. Hydroculture IoT supports data acquisition using modern connectivity technologies and protocols: NB IoT, LoRaWAN, SigFox, MQTT, CoAP, HTTP, LwM2M, and others.</p>
                        <a class="read-more-button dash" href="/use-cases/environment-monitoring/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/use-cases/environment-monitoring/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/environment-monitoring/em1.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Smart Office</h2>
                        <p>Ensure employee health and safety to boost organization productivity. Optimize resource consumption by monitoring and control of the office indoor climate. Hydroculture IoT provides rich data visualization, powerful processing engine, remote control and OTA updates capabilities.</p>
                        <a class="read-more-button dash" href="/use-cases/smart-office/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/use-cases/smart-office/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/smart-office/so1.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Water Metering</h2>
                        <p>Enable water consumption data collection, analysis and fraud detection using Hydroculture IoT. Use interactive dashboards that allow administrators and end-users to browse the state of the water meters and aggregated water consumption statistics. Enable alarms over SMS and email and integrate with external billing systems.</p>
                        <a class="read-more-button dash" href="/use-cases/water-metering/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/use-cases/water-metering/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/water-metering/wm4.png" /></a>
                    </div>
                </div>
                <div class="dashboard-item">
                    <div class="item-description">
                        <h2>Smart Retail</h2>
                        <p>Control quality of food storage by monitoring chillers and freezers. Ensure availability of the goods using smart shelves. Ensure safety using motion detection and fire alarms. Hydroculture IoT provides a solution template to monitor supermarket assets, browse historical data and generate alarms based on user-defined thresholds.</p>
                        <a class="read-more-button dash" href="/use-cases/smart-retail/">More information<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
                    </div>
                    <div class="item-image-container">
                        <a class="img-button" href="/use-cases/smart-retail/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">See more</div></div><img class="item-image" src="/images/usecases/smart-retail/sr3.png" /></a>
                    </div>
                </div>
            </div>
		</main>
	</section>

	<section id="rule-engine">
		<main>
			<div class="rule">
				<a class="rule-button img-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">See more</div></div><img src="images/demo/send-email-rule-chain.gif"></a>
				<div class="des"><h3>IoT Rule Engine</h3>
					<p>Hydroculture IoT allows you to create complex <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Chains</a> to process data from your devices and match your application specific use cases.</p>
					<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Read more<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
				</div>
			</div>
		</main>
	</section>

	<section id="bottom-features">
		<main>
			<div class="background">
				<div class="bottom-features1"></div><div class="bottom-features2"></div><div class="small11"></div><div class="small12"></div><div class="bottom-features3"></div><div class="small13"></div><div class="small14"></div><div class="small15"></div>
			</div>
			<h3>Hydroculture IoT Features</h3>
			<div id="cards" class="row">
				<div class="col-lg-6">
					<div class="block">
						<img src="/images/telemetry-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/telemetry/">Telemetry Data Collection</a>
							<p>Collect and store telemetry data in reliable way, surviving network and hardware failures. Access collected data using customizable web dashboards or server-side APIs.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/tenancy-icon.svg">
						<div>
						<a class="title" href="/docs/user-guide/ui/tenants/">Multi-tenancy</a>
						<p>Support multi-tenant installations out-of-the-box. Single tenant may have multiple tenant administrators and millions of devices and customers.
						</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/visualization-icon.svg">
						<div>
						<a class="title" href="/docs/user-guide/visualization/">Data Visualization</a>
						<p>Provides 30+ configurable widgets out-of-the-box and ability to create your own widgets using built-in editor. Built-in line-charts, digital and analog gauges, maps and much more.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/scalability-icon.svg">
						<div>
							<a class="title" href="/docs/reference/#hydroculture-services">Horizontal scalability</a>
							<p>Amount of supported server-side requests and devices increase linearly as new hydroculture servers are added in clustering mode. No downtime, server restarts or application errors.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/engine-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">IoT Rule Engine</a>
							<p>Process incoming device data with flexible rule chains based on entity attributes or message content. Forward data to external systems or trigger alarms using custom logic. Configure complex notification chains on alarms. Enrich server-side functionality or manipulate your devices with highly customizable rules. Define your application logic with drag-n-drop rule chain designer.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/tolerance-icon.svg">
						<div>
							<a class="title" href="/docs/reference/#hydroculture-services">Fault-tolerance</a>
							<p>All hydroculture servers are identical. No master-workers or hot standby. Node failure is automatically detected. Failed nodes can be replaced without downtime. Persisted data is replicated using reliable NoSQL database.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/device-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/ui/devices/">Device Management</a>
							<p>Provides ability to register and manage devices. Allows to monitor client-side and provision server-side <a href="/docs/user-guide/attributes/">device attributes</a>. Provides API for server-side applications to send <a href="/docs/user-guide/rpc/">RPC commands</a> to devices and vice-versa.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/security-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/device-credentials/">Security</a>
							<p>Supports transport encryption for both MQTT and HTTP(s) protocols. Supports device authentication and device credentials management.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/asset-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/ui/assets/">Asset Management</a>
							<p>Provides ability to register and manage assets. Allows to provision server-side <a href="/docs/user-guide/attributes/">asset attributes</a> and monitor related <a href="/docs/user-guide/alarms/">alarms</a>. Ability to build hierarchy of entities using <a href="/docs/user-guide/entities-and-relations/">relations</a>.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/integration-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/contribution/how-to-contribute/">Customization and Integration</a>
							<p>Extend default platform functionality using customizable <a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">rule chains</a>, <a href="/docs/user-guide/ui/widget-library/">widgets</a> and <a href="/docs/reference/protocols/">transport implementations</a>. In addition to MQTT, CoAP and HTTP support, Hydroculture IoT users can use their own transport implementations or customize behaviour of existing protocols.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/alarms-icon.svg">
						<div>
							<a class="title" href="/docs/user-guide/alarms/">Alarms Management</a>
							<p>Provides ability to create and manage <a href="/docs/user-guide/alarms/">alarms</a> related to your entities: devices, assets, customers, etc. Allows real-time alarms monitoring and alarms propagation to related entities hierarchy. Raise alarms on device disconnect or inactivity events.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/opensource-icon.svg">
						<div>
							<a class="title" href="https://gitlab.com/mayrtech-iot/hydroculture-cloud.git">100% Open-source</a>
							<p>Hydroculture IoT is licensed under Apache License 2.0, so you can use any it in your commercial products for free. You can even host it as a SaaS or PaaS solution.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/microservices-icon.svg">
						<div>
							<a class="title" href="/docs/reference/#monolithic-vs-microservices-architecture">Microservices or Monolithic</a>
							<p>Supports <a href="/docs/reference/monolithic/">monolithic</a> deployment for getting started or small environments. Provides ability to upgrade to <a href="/docs/reference/msa/">microservices</a> for high availability and horizontal scalability.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="block"><img src="/images/database-icon.svg">
						<div>
							<a class="title" href="/docs/reference/#sql-vs-nosql-vs-hybrid-database-approach">SQL, NoSQL and Hybrid database</a>
							<p>Supports various database options and ability to choose where to store main entities and where to store telemetry data</p>
						</div>
					</div>
				</div>
			</div>
		</main>
	</section>

</div>
{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

