{% if page.title %}{% assign title=page.title %}{% endif %}
{% if page.description %}{% assign description=page.description %}{% endif %}
{% assign docsTag = include.docsTag %}
{% assign productTag = include.productTag %}
{% if docsTag %}
    {% assign foundProduct = site.data.products | where: "tag", docsTag %}
    {% assign productInfo = foundProduct[0] %}
    {% unless page.customTitle == "true" %}
        {% assign customTitle = title | append: " | " %}
        {% assign customTitle = customTitle | append: productInfo.fulltitle %}
    {% endunless %}
{% elsif page.customTitle == "true" %}
    {% assign customTitle = title %}
{% endif %}

<head>
    <meta charset="utf-8">
    <meta name="cf-2fa-verify" content="a08672380de15e9">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if customTitle %}
    <title>{{ customTitle }}</title>
    {% seo title=false %}
    {% else %}
    {% seo %}
    {% endif %}
    {% if description %}
    <meta name="twitter:description" content="{{ description }}"/>
    {% endif %}
    {% if !page.no_canonical %}
    <link rel="canonical" href="https://hydroculture.com{{page.url}}"/>
    {% endif %}
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gifffer/1.5.0/gifffer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            Gifffer();
        }
    </script>
    <script type="text/javascript">
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        !function (a) {
            "use strict";
            var b = function (b, c, d) {
                function e(a) {
                    return h.body ? a() : void setTimeout(function () {
                        e(a)
                    })
                }

                function f() {
                    i.addEventListener && i.removeEventListener("load", f), i.media = d || "all"
                }

                var g, h = a.document, i = h.createElement("link");
                if (c) g = c; else {
                    var j = (h.body || h.getElementsByTagName("head")[0]).childNodes;
                    g = j[j.length - 1]
                }
                var k = h.styleSheets;
                i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () {
                    g.parentNode.insertBefore(i, c ? g : g.nextSibling)
                });
                var l = function (a) {
                    for (var b = i.href, c = k.length; c--;) if (k[c].href === b) return a();
                    setTimeout(function () {
                        l(a)
                    })
                };
                return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i
            };
            "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b
        }("undefined" != typeof global ? global : this);

        /*! onloadCSS. (onload callback for loadCSS) [c]2017 Filament Group, Inc. MIT License */
        function onloadCSS(a, b) {
            function c() {
                !d && b && (d = !0, b.call(a))
            }

            var d;
            a.addEventListener && a.addEventListener("load", c), a.attachEvent && a.attachEvent("onload", c), "isApplicationInstalled" in navigator && "onloadcssdefined" in a && a.onloadcssdefined(c)
        }
    </script>
    <script type="text/javascript">

        function jqueryDefer(method) {
            if (window.jQuery) {
                method();
            } else {
                setTimeout(function () {
                    jqueryDefer(method)
                }, 50);
            }
        }

        function jqueryUiDefer(method) {
            if (window.jQuery && window.jQuery.ui) {
                method();
            } else {
                setTimeout(function () {
                    jqueryUiDefer(method)
                }, 50);
            }
        }

        window.vis = (function () {
            var stateKey,
                eventKey,
                keys = {
                    hidden: "visibilitychange",
                    webkitHidden: "webkitvisibilitychange",
                    mozHidden: "mozvisibilitychange",
                    msHidden: "msvisibilitychange"
                };
            for (stateKey in keys) {
                if (stateKey in document) {
                    eventKey = keys[stateKey];
                    break;
                }
            }
            return function (c) {
                if (c) document.addEventListener(eventKey, c);
                return !document[stateKey];
            }
        })();

        function loadScript(src, callback) {
            var s, r, t;
            r = false;
            s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = src;
            s.onload = s.onreadystatechange = function () {
                if (!r && (!this.readyState || this.readyState == 'complete')) {
                    r = true;
                    if (callback) {
                        callback();
                    }
                }
            };
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        }

        function loadCssAsync(src, callback) {
            var stylesheet = loadCSS(src);
            if (callback) {
                onloadCSS(stylesheet, callback);
            }
        }

        function loadNextScript(index, scriptsList, completeCallback) {
            if (index < scriptsList.length) {
                var script = scriptsList[index];
                if (script.type === 'script') {
                    loadScript(script.src, function () {
                        if (script.callback) {
                            script.callback();
                        }
                        index++;
                        loadNextScript(index, scriptsList, completeCallback);
                    });
                } else if (script.type === 'css') {
                    loadCssAsync(script.src, function () {
                        index++;
                        loadNextScript(index, scriptsList, completeCallback);
                    });
                }
            } else if (completeCallback) {
                completeCallback();
            }
        }

        var initialScriptsList = [
            {src: '/js/jquery-2.2.0.min.js', type: 'script'},
            {src: '/css/jquery-ui.min.css', type: 'css'},
            {src: '/js/jquery-ui.min.js', type: 'script'},
            {src: '/js/jquery.vide.js', type: 'script'},
            {src: '/js/script.js', type: 'script'},
            {src: '/css/photoswipe.css', type: 'css'},
            {src: '/css/default-skin/default-skin.css', type: 'css'},
            {src: '/js/photoswipe.min.js', type: 'script'},
            {src: '/js/photoswipe-ui-default.min.js', type: 'script'}
        ];

        loadNextScript(0, initialScriptsList);

        jqueryDefer(function () {
            (function ($, win) {
                $.fn.inViewport = function (cb) {
                    return this.each(function (i, el) {
                        function visPx() {
                            var H = $(this).height(),
                                r = el.getBoundingClientRect(), t = r.top, b = r.bottom;
                            var result = cb.call(el, Math.max(0, t > 0 ? H - t : (b < H ? b : H)));
                            if (result) {
                                $(win).off("resize scroll", visPx);
                            }
                        }

                        visPx();
                        $(win).on("resize scroll", visPx);
                    });
                };
            }(jQuery, window));
        });

        function inViewportDefer(method) {
            if (window.jQuery && $.fn.inViewport) {
                method();
            } else {
                setTimeout(function () {
                    inViewportDefer(method)
                }, 50);
            }
        }

    </script>
    <script type="text/javascript">
        function _gaLt(event) {
            /* If GA is blocked or not loaded, or not main|middle|touch click then don't track */
            if (!ga.hasOwnProperty("loaded") || ga.loaded != true || (event.which != 1 && event.which != 2)) {
                return;
            }
            var el = event.srcElement || event.target;

            while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)) {
                el = el.parentNode;
            }
            if (el && el.href) {
                var link = el.href;
                if ((link.indexOf(location.host) == -1 || link.indexOf('.' + location.host) > 0) && !link.match(/^javascript\:/i)) {
                    var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
                    if (event.ctrlKey || event.shiftKey || event.metaKey || event.which == 2) {
                        target = "_blank";
                    }

                    var hbrun = false; // tracker has not yet run
                    var hitBack = function () {
                        if (hbrun) return;
                        hbrun = true;
                        window.location.href = link;
                    };

                    if (target) {
                        ga(
                            "send", "event", "Outgoing Links", link,
                            document.location.pathname + document.location.search
                        );
                    } else {
                        event.preventDefault ? event.preventDefault() : event.returnValue = !1;
                        ga(
                            "send", "event", "Outgoing Links", link,
                            document.location.pathname + document.location.search, {
                                "hitCallback": hitBack
                            }
                        );

                        setTimeout(hitBack, 1000);
                    }
                }
            }
        }

        var _w = window;
        var _gaLtEvt = ("ontouchstart" in _w) ? "click" : "mousedown";
        _w.addEventListener ? _w.addEventListener("load", function () {
                document.body.addEventListener(_gaLtEvt, _gaLt, !1)
            }, !1)
            : _w.attachEvent && _w.attachEvent("onload", function () {
            document.body.attachEvent("on" + _gaLtEvt, _gaLt)
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88383331-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        function Burger() {
            var header = $('header');
            var body = $('body');
            if (header.hasClass('opened-burger')) {
                header.removeClass('opened-burger');
                let subMenus = $('nav.head-menu > ul > li > div.centered-sub > ul.sub-menu');
                subMenus.removeClass('open-sub');
                body.css('overflow', '');
            } else {
                header.addClass('opened-burger');
                body.css('overflow', 'hidden');
            }
        }
    </script>
    <script>

        jqueryDefer(function () {
            let menuElement = $('nav.head-menu > ul');
            let submenuContainer = $('nav.head-menu > div.sub-menu-container');
            let menuItems = $('nav.head-menu > ul > li');
            let indicator = $('nav.head-menu > ul > div.indicator');
            let subMenuActive = false;
            menuElement.on('mouseleave', function (event) {
                if (!$(event.relatedTarget).parents('div.sub-menu-container').length) {
                    setTimeout(function() {
                        if (!submenuContainer.is(':hover')) {
                            subMenuActive = false;
                            submenuContainer.removeClass('active bounds-transition');
                            menuItems.removeClass('active');
                            indicator.removeClass('left-transition');
                        }
                    }, 200)
                }
            });
            submenuContainer.on('mouseleave', function (event) {
                if (!$(event.relatedTarget).parents('nav.head-menu > ul').length) {
                    subMenuActive = false;
                    submenuContainer.removeClass('active bounds-transition');
                    menuItems.removeClass('active');
                    indicator.removeClass('left-transition');
                }
            });
            menuItems.each(function() {
                let item = $( this );
                let subMenuId = item.attr('data-submenu-id');
                item.on('mouseenter', function () {
                    setTimeout(function() {
                        if (item.is(':hover')) {
                            let submenus = $('nav.head-menu > div.sub-menu-container > div');
                            submenus.css('display', 'none');
                            menuItems.removeClass('active');
                            item.addClass('active');
                            let targetSubMenu = $('nav.head-menu > div.sub-menu-container > div#'+subMenuId);
                            targetSubMenu.css('display', 'block');
                            submenuContainer.css('overflow', 'visible');
                            let offset = (item.outerWidth() - targetSubMenu.outerWidth()) / 2;
                            let left = item.position().left + offset;
                            let windowOverflow = window.innerWidth - (item.offset().left + offset + targetSubMenu.outerWidth());
                            if (windowOverflow < 0) {
                                left += windowOverflow;
                            }
                            submenuContainer.css('left', left + 'px');
                            if (!subMenuActive) {
                                submenuContainer.addClass('active');
                                subMenuActive = true;
                            } else {
                                submenuContainer.addClass('bounds-transition');
                                indicator.addClass('left-transition');
                            }
                            indicator.css('left', item.position().left);
                            indicator.css('width', item.outerWidth());
                            submenuContainer.css('height', targetSubMenu.outerHeight() + 'px');
                            submenuContainer.css('width', targetSubMenu.outerWidth() + 'px');
                            submenuContainer.css('overflow', 'hidden');
                        }
                    }, 100)
                });
            });

            let isMobile = $('button.burger').css('display') === 'block';
            if (isMobile) {
                initMobileSubmenu();
            }

            $(window).resize(function(){
                let newIsMobile = $('button.burger').css('display') === 'block';
                if (isMobile !== newIsMobile) {
                    isMobile = newIsMobile;
                    if (isMobile) {
                        initMobileSubmenu();
                    } else {
                        restoreDesktopSubmenu();
                    }
                }
            });

            $( document ).ready(function() {
                // Rogue line numbers fix (don't show line numbers for 1 row)
                $('.rouge-gutter.gl').each(function() {
                    var lineNumbers = $(this).children('.lineno');
                    if (lineNumbers.text() === '1\n') {
                        $(this).css('display', 'none');
                    }
                });
                $('a#use-cases-link').click(function(e) {
                    let isMobile = $('button.burger').css('display') === 'block';
                    if (isMobile) {
                        e.preventDefault();
                        e.stopPropagation();
                        listburg('nav-cases');
                    }
                });
            });
        });

        function initMobileSubmenu() {

            var header = $('header');
            if (header.hasClass('opened-burger')) {
                var body = $('body');
                body.css('overflow', 'hidden');
            }

            let targetSubMenus = $('nav.head-menu > div.sub-menu-container > div');
            targetSubMenus.css('display', 'block');
            let submenuContainer = $('nav.head-menu > div.sub-menu-container');
            submenuContainer.removeClass('active');
            submenuContainer.css('display', 'none');

            targetSubMenus.each(function() {
                let subMenu = $( this );
                let subMenuId = subMenu.attr('id');
                let parent = $('nav.head-menu > ul > li.'+subMenuId);
                parent.append(subMenu);
            });
        }

        function restoreDesktopSubmenu() {
            var body = $('body');
            body.css('overflow', '');
            let targetSubMenus = $('nav.head-menu > ul > li > div');
            let submenuContainer = $('nav.head-menu > div.sub-menu-container');
            submenuContainer.removeClass('active');
            submenuContainer.css('display', 'block');
            let menuItems = $('nav.head-menu > ul > li');
            menuItems.removeClass('active');
            targetSubMenus.each(function() {
                let subMenu = $( this );
                submenuContainer.append(subMenu);
            });
        }

        function listburg(subMenuId) {
            let isMobile = $('button.burger').css('display') === 'block';
            if (isMobile) {
                let targetSubMenu = $('nav.head-menu > ul > li > div.centered-sub#'+subMenuId+' > ul.sub-menu');
                let isOpen = targetSubMenu.hasClass('open-sub');
                let subMenus = $('nav.head-menu > ul > li > div.centered-sub > ul.sub-menu');
                subMenus.removeClass('open-sub');
                if (!isOpen) {
                    targetSubMenu.addClass('open-sub');
                }
            }
        }
    </script>
</head>
<body>
<header>
    <div class="logo-burger">
        <a href="/support-ukraine" class="support-ukraine">
            <p><i class="fa fa-ban" aria-hidden="true"></i>&nbsp;Stop the war</p>
            <img src="/images/animated-ukraine-flag.gif"/>
            <p>Support Ukraine</p>
        </a>
        <a href="/" class="logo"></a>
        <button onclick="Burger()" class="burger"></button>
        <div id="githubButtonContainer">
            <a class="gitlab-button" href="https://gitlab.com/mayrtech-iot/hydroculture-cloud" data-show-count="true"
               aria-label="Star hydroculture-cloud on GitLab">Star</a>
        </div>
    </div>
    <nav class="head-menu">
        <ul>
            <li class="nav-products" data-submenu-id="nav-products">
                <a onclick="listburg('nav-products')">Products</a>
            </li>
            <li class="nav-services" data-submenu-id="nav-services">
                <a onclick="listburg('nav-services')">Services</a>
            </li>
            <li class="nav-cases" data-submenu-id="nav-cases">
                <a id="use-cases-link" href="/iot-use-cases/" style="cursor: pointer;">Use Cases</a>
            </li>
            <li class="nav-customers" data-submenu-id="nav-customers">
                <a onclick="listburg('nav-customers')">Customers</a>
            </li>
            <li class="nav-company" data-submenu-id="nav-company">
                <a onclick="listburg('nav-company')">Company</a>
            </li>
            <li class="nav-partners" data-submenu-id="nav-partners">
                <a onclick="listburg('nav-partners')">Partners</a>
            </li>
            <li class="nav-docs" data-submenu-id="nav-docs">
                <a onclick="listburg('nav-docs')">Docs</a>
            </li>
            <div class="indicator"><div class="head-arrow"></div><div class="line"></div><div class="sub-background"></div></div>
        </ul>
        <div class="sub-menu-container">
            <div id="nav-products" class="centered-sub">
                <ul class="sub-menu products">
                    <div class="sub-groups">
                        <div class="group">
                            <p class="group-name">IoT platforms</p>
                            <a class="com-lnk" href="/">
                                <img src="/images/thingsboard-cm-icon.svg">
                                <div class="sub-text">
                                    <h1>Standard Edition</h1>
                                    <p>Open source platform</p>
                                </div>
                            </a>
                            <a class="prof-lnk" href="/products/hydroculture-enterprise/">
                                <img src="/images/thingsboard-p-icon.svg">
                                <div class="sub-text">
                                    <h1>Enterprise Edition</h1>
                                    <p>Advanced IoT platform</p>
                                </div>
                            </a>
                            <a class="cloud-lnk" href="/products/paas/">
                                <img src="/images/thingsboard-c-icon.svg">
                                <div class="sub-text">
                                    <h1>Cloud</h1>
                                    <p>Platform as a service</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">Product ecosystem</p>
                            <a class="edge-lnk" href="/products/hydroculture-edge/">
                                <img src="/images/thingsboard-e-icon.svg">
                                <div class="sub-text">
                                    <h1>Edge</h1>
                                    <p>Edge computing</p>
                                </div>
                            </a>
                            <a class="gateway-lnk" href="/docs/iot-gateway/what-is-iot-gateway/">
                                <img src="/images/gateway-icon.svg">
                                <div class="sub-text">
                                    <h1>IoT Gateway</h1>
                                    <p>Connect legacy protocols</p>
                                </div>
                            </a>
                            <a class="license-lnk" href="/products/license-server/">
                                <img src="/images/license-icon.svg">
                                <div class="sub-text">
                                    <h1>License Server</h1>
                                    <p>Billing solution</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">&nbsp;</p>
                            <a class="trendz-lnk" href="/products/trendz/">
                                <img src="/images/trendz-icon.svg">
                                <div class="sub-text">
                                    <h1>Trendz Analytics</h1>
                                    <p>Data analytics and Prediction</p>
                                </div>
                            </a>
                            <a class="mobile-lnk" href="/products/mobile/">
                                <img src="/images/tb-mobile-icon.svg">
                                <div class="sub-text">
                                    <h1>Mobile Application</h1>
                                    <p>IoT mobile product</p>
                                </div>
                            </a>
                            <a class="mobile-pe-lnk" href="/products/mobile-pe/">
                                <img src="/images/tb-pe-mobile-icon.svg">
                                <div class="sub-text">
                                    <h1>PE Mobile Application</h1>
                                    <p>Advanced IoT mobile product</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="nav-services" class="centered-sub">
                <ul class="sub-menu services">
                    <a href="/docs/services/support/">
                        <img src="/images/support-icon.svg">
                        <div class="sub-text">
                            <h1>Support</h1>
                            <p>Support packages</p>
                        </div>
                    </a>
                    <a href="/docs/services/trainings/">
                        <img src="/images/train-icon.svg">
                        <div class="sub-text">
                            <h1>Trainings</h1>
                            <p>Hydroculture IoT education courses</p>
                        </div>
                    </a>
                    <a href="/docs/services/consulting/">
                        <img src="/images/prof-icon.svg">
                        <div class="sub-text">
                            <h1>Professional services</h1>
                            <p>Development of solutions by the Hydroculture IoT team</p>
                        </div>
                    </a>
                </ul>
            </div>
            <div id="nav-docs" class="centered-sub">
                <ul class="sub-menu products">
                    <div class="sub-groups">
                        <div class="group">
                            <p class="group-name">IoT platforms</p>
                            <a class="com-lnk" href="/docs/">
                                <img src="/images/thingsboard-cm-icon.svg">
                                <div class="sub-text">
                                    <h1>Standard Edition</h1>
                                    <p>Open source platform</p>
                                </div>
                            </a>
                            <a class="prof-lnk" href="/docs/pe/">
                                <img src="/images/thingsboard-p-icon.svg">
                                <div class="sub-text">
                                    <h1>Enterprise Edition</h1>
                                    <p>Advanced IoT platform</p>
                                </div>
                            </a>
                            <a class="cloud-lnk" href="/docs/paas/">
                                <img src="/images/thingsboard-c-icon.svg">
                                <div class="sub-text">
                                    <h1>Cloud</h1>
                                    <p>Platform as a service</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">Product ecosystem</p>
                            <a class="edge-lnk" href="/docs/edge/">
                                <img src="/images/thingsboard-e-icon.svg">
                                <div class="sub-text">
                                    <h1>Edge</h1>
                                    <p>Edge computing</p>
                                </div>
                            </a>
                            <a class="gateway-lnk" href="/docs/iot-gateway/">
                                <img src="/images/gateway-icon.svg">
                                <div class="sub-text">
                                    <h1>IoT Gateway</h1>
                                    <p>Connect legacy protocols</p>
                                </div>
                            </a>
                            <a class="license-lnk" href="/products/license-server/">
                                <img src="/images/license-icon.svg">
                                <div class="sub-text">
                                    <h1>License Server</h1>
                                    <p>Billing solution</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <p class="group-name">&nbsp;</p>
                            <a class="trendz-lnk" href="/docs/trendz/">
                                <img src="/images/trendz-icon.svg">
                                <div class="sub-text">
                                    <h1>Trendz Analytics</h1>
                                    <p>Data analytics and Prediction</p>
                                </div>
                            </a>
                            <a class="mobile-lnk" href="/docs/mobile/">
                                <img src="/images/tb-mobile-icon.svg">
                                <div class="sub-text">
                                    <h1>Mobile Application</h1>
                                    <p>IoT mobile product</p>
                                </div>
                            </a>
                            <a class="mobile-pe-lnk" href="/docs/pe/mobile/">
                                <img src="/images/tb-pe-mobile-icon.svg">
                                <div class="sub-text">
                                    <h1>PE Mobile Application</h1>
                                    <p>Advanced IoT mobile product</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="nav-cases" class="centered-sub">
                <ul class="sub-menu cases">
                    <div class="sub-groups">
                        <div class="group">
                            <a href="/smart-energy/">
                                <img src="/images/case-eng-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Energy</h1>
                                    <p>Energy monitoring and efficiency analysis</p>
                                </div>
                            </a>
                            <a href="/smart-farming/">
                                <img src="/images/case-fam-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Farming</h1>
                                    <p>Remote soil, products and equipment monitoring</p>
                                </div>
                            </a>
                            <a href="/fleet-tracking/">
                                <img src="/images/case-trk-icon.svg">
                                <div class="sub-text">
                                    <h1>Fleet Tracking</h1>
                                    <p>Fleet tracking and fleet management</p>
                                </div>
                            </a>
                            <a href="/smart-metering/">
                                <img src="/images/case-met-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Metering</h1>
                                    <p>Collection, analysis and visualization of data from meters</p>
                                </div>
                            </a>
                            <a href="/use-cases/air-quality-monitoring/">
                                <img src="/images/case-aq-icon.svg">
                                <div class="sub-text">
                                    <h1>Air Quality Monitoring</h1>
                                    <p>Monitor outdoor air quality using a wide range of sensors</p>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a href="/use-cases/environment-monitoring/">
                                <img src="/images/case-env-icon.svg">
                                <div class="sub-text">
                                    <h1>Environment Monitoring</h1>
                                    <p>Monitor and analyze indoor and outdoor environments</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-office/">
                                <img src="/images/case-off-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Office</h1>
                                    <p>Increase productivity and optimize resource consumption</p>
                                </div>
                            </a>
                            <a href="/use-cases/water-metering/">
                                <img src="/images/case-wat-icon.svg">
                                <div class="sub-text">
                                    <h1>Water Metering</h1>
                                    <p>Water consumption analysis and fraud detection</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-retail/">
                                <img src="/images/case-ret-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Retail</h1>
                                    <p>Control quality of food storage, indoor environment and safety</p>
                                </div>
                            </a>
                            <a href="/use-cases/smart-irrigation/">
                                <img src="/images/smart-irrigation.svg">
                                <div class="sub-text">
                                    <h1>Smart Irrigation</h1>
                                    <p>Soil moisture monitoring and irrigation control</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="nav-customers" class="centered-sub">
                <ul class="sub-menu customers">
                    <div class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/industries/smart-energy/">
                                <img src="/images/se-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Energy</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/agriculture/">
                                <img src="/images/agr-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Agriculture</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/telecom/">
                                <img src="/images/tel-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Telecom</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/warehouse-monitoring/">
                                <img src="/images/sb-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Warehouse Monitoring</h1>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a class="small-link" href="/industries/smart-city/">
                                <img src="/images/sc-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart City</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/smart-buildings/">
                                <img src="/images/sb-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Smart Buildings</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/industries/industry40/">
                                <img src="/images/in-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Industry 4.0</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="nav-company" class="centered-sub">
                <ul class="sub-menu about">
                    <div class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/company/">
                                <img src="/images/about-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Our Company</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/docs/contact-us/">
                                <img src="/images/contact-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Contact Us</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/careers/">
                                <img src="/images/careers-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Careers</h1>
                                </div>
                            </a>
                        </div>
                        <div class="group">
                            <a class="small-link" href="/mediakit/">
                                <img src="/images/media-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Media Kit</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
            <div id="nav-partners" class="centered-sub">
                <ul class="sub-menu about">
                    <div class="sub-groups">
                        <div class="group">
                            <a class="small-link" href="/partners/hardware/">
                                <img src="/images/hard-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Hardware partners</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/partners/distributors/">
                                <img src="/images/dis-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Distributors</h1>
                                </div>
                            </a>
                            <a class="small-link" href="/partners/marketplace/">
                                <img src="/images/marketplace-s-icon.svg">
                                <div class="sub-text">
                                    <h1>Marketplace</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <a href="/installations/" class="n-button try">Try it now</a>
        <a href="/pricing/" class="n-button price">Pricing</a>
    </div>
</header>
