.modal-wizard
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background: #fff
  z-index: 9000
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
  border-radius: 6px
  align-items: center
  padding: 40px 100px
  overflow: auto
  .btn-close
    font-size: 40px
    color: #B5B5B5
    outline: none
    position: absolute
    right: 30px
    top: 30px
  &__content
    padding-top: 26px
    margin-bottom: 60px
  &__header
    font-size: 26px
    text-transform: uppercase
    font-weight: 600
    color: #437BE3
    text-align: center
    margin-bottom: 20px
  &__text
    font-size: 17px
    text-align: center
    padding: 0 20%
    color: #434343
  #choose-plan
    display: flex
    flex-direction: column
    align-items: center
    flex-grow: 1
    justify-content: space-evenly
    width: 100%
  .options
    border: 1px solid #BFC3C3
    display: flex
    border-radius: 20px
    width: fit-content
    position: relative
    margin-bottom: 5em
    &__container
      padding: 4px 38px
      font-size: 20px
      color: #BFC3C4
      cursor: pointer
      transition: 0.2s
    .background
      position: absolute
      background: #437BE3
      height: 100%
      border-radius: 20px
      z-index: -1
      transition: 0.4s
    .bg-right
      width: 60%
      left: 40%
    .bg-left
      width: 40%
      left: 0
    .selected
      color: #fff
      font-weight: 600
  .tab-content
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    flex-grow: 1
  .steps-container
    display: flex
    justify-content: space-between
    gap: 40px
    flex-wrap: wrap
    & + div
      flex-grow: 1
  .step
    flex: 1 1
    position: relative
    display: flex
    flex-direction: column
    justify-content: space-between
    min-width: 250px
    &__header
      text-transform: uppercase
      font-weight: 600
      font-size: 20px
      line-height: 1.5
      margin-bottom: 10px
    &__content
      font-size: 14px
      line-height: 1.6
      color: #434343
      margin-bottom: 30px
      flex-grow: 1
    &::before
      content: ''
      display: block
      width: 100%
      height: 4px
      position: absolute
      top: -16px
  .step-1
    .step__header
      color: #72D6C7
    &::before
      background: #72D6C7
  .step-2
    .step__header
      color: #5AB8FD
    &::before
      background: #5AB8FD
  .step-3
    .step__header
      color: #a3a8af
    &::before
      background: #a3a8af
  .images-gallery
    justify-content: space-between
    align-items: center
    gap: 40px
    .list-item
      flex: 1 1
      margin: 0
      position: relative
      cursor: pointer
      box-shadow: 0px 4px 20px 2px rgba(0, 0, 0, 0.1)
      a
        display: inline-block
        width: 100%
        img
          width: 100%
          cursor: pointer
      &:hover::after
        content: ''
        display: block
        position: absolute
        width: 100%
        height: 100%
        background: rgba(0, 0, 0, 0.3)
        top: 0
      &:hover::before
        content: ''
        display: block
        position: absolute
        width: 60px
        height: 60px
        background: url("/images/trendz/cross-icon.svg")
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        background-size: contain
  &__button
    width: 50%
    align-self: center
    a
      display: block
      background: #437BE3
      padding: 13px 0
      color: #fff
      text-align: center
      border-radius: 4px
      font-size: 20px
      line-height: 1.5
      transition: 0.5s
      &:hover
        text-decoration: none
        background: #452CDC
  #go-to-portal
    display: none
    flex: 1
    flex-direction: column
    align-items: center
    text-align: center
    justify-content: center
    width: 100%
    .text-container
      flex-grow: 1
      padding: 0 30%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: 60px
      position: relative
      &::before
        content: ''
        display: block
        position: absolute
        width: 400px
        height: 400px
        background: #EEF3FC
        border-radius: 50%
        z-index: -1
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
      .text-block
        display: flex
        flex-direction: column
        gap: 20px
        .header
          font-size: 30px
          font-weight: 600
          color: #1F1F1F
          line-height: 1.5
          margin: 0
.hidden
  display: none

@media screen and (max-width: 960px)
  .modal-wizard
    &__text
      padding: 0

@media screen and (max-width: 750px)
  .modal-wizard
    padding: 25px 40px
    &__text
      font-size: 15px
    .options__container
      font-size: 16px
    .images-gallery
      .list-item
        &::before
          display: none
    &__button
      a
        font-size: 16px
    #go-to-portal
      .text-container
        padding: 0 10%
    .btn-close
      right: 10px
      top: 10px