@import "reset"

// TEXT
$h1-font-size: 32px
$h1-line-height: 40px

$h2-font-size: 28px
$h2-line-height: 40px

$h3-font-size: 24px
$h3-line-height: 32px

$h4-font-size: 20px
$h4-line-height: 30px
$h4-padding-bottom: 10px

$h5-font-size: 16px
$h5-line-height: 36px

$p-font-size: 14px
$p-line-height: 22px


// header
$full-width-paddingX: 20px
$full-width-paddingX-large: 100px

$main-width: 100%
$main-max-width: 100%

$header-height: 80px

$logo-width: 220px

$nav-buttons-margin-left: 10px

$hamburger-size: 40px


// main nav
$main-nav-padding: 100px 0 0
$main-nav-h5-margin-bottom: 1em
$main-nav-h3-margin-bottom: 0.6em
$main-nav-main-sibling-margin-top: 40px
$main-nav-left-button-size: 50px
$main-nav-left-button-font-size: 18px

// nav menu
$nav-menu-padding: 65px 0 0
//$main-nav-h5-margin-bottom: 1em
//$main-nav-h3-margin-bottom: 0.6em
//$main-nav-main-sibling-margin-top: 40px
//$main-nav-left-button-size: 50px
//$main-nav-left-button-font-size: 18px


// hero
$hero-padding-top: 80px
$headline-wrapper-margin-bottom: 40px
$quickstart-button-padding: 0 50px

@import "size"

////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////

\:root
  --tb-main-color: #2A7DEC
  --tb-main-background: rgba(48, 86, 128, 0.08)
  --tb-main-color-filter: invert(37%) sepia(84%) saturate(891%) hue-rotate(184deg) brightness(105%) contrast(88%)

#docs
  &.ce
    --tb-main-color: #305680
    --tb-main-background: rgba(48, 86, 128, 0.08)
    --tb-main-color-filter: invert(29%) sepia(61%) saturate(478%) hue-rotate(171deg) brightness(94%) contrast(93%)
  &.pe
    --tb-main-color: #1F8B4D
    --tb-main-background: rgba(31, 139, 77, 0.08)
    --tb-main-color-filter: invert(25%) sepia(43%) saturate(5965%) hue-rotate(143deg) brightness(97%) contrast(76%)
  &.paas
    --tb-main-color: #2A7DEC
    --tb-main-background: rgba(42, 125, 236, 0.08)
    --tb-main-color-filter: invert(37%) sepia(84%) saturate(891%) hue-rotate(184deg) brightness(105%) contrast(88%)
  &.edge
    --tb-main-color: #2260a7
    --tb-main-background: rgba(34, 96, 167, 0.08)
    --tb-main-color-filter: invert(27%) sepia(97%) saturate(823%) hue-rotate(184deg) brightness(95%) contrast(90%)
  &.edge-pe
    --tb-main-color: #009688
    --tb-main-background: rgba(0, 150, 136, 0.08)
    --tb-main-color-filter: invert(42%) sepia(85%) saturate(4933%) hue-rotate(156deg) brightness(96%) contrast(102%)
  &.gw
    --tb-main-color: #EB5757
    --tb-main-background: rgba(235, 87, 87, 0.08)
    --tb-main-color-filter: invert(39%) sepia(14%) saturate(6952%) hue-rotate(331deg) brightness(113%) contrast(84%)
  &.license
    --tb-main-color: #1F8B4D
    --tb-main-background: rgba(31, 139, 77, 0.08)
    --tb-main-color-filter: invert(25%) sepia(43%) saturate(5965%) hue-rotate(143deg) brightness(97%) contrast(76%)
  &.trendz
    --tb-main-color: #2696F3
    --tb-main-background: rgba(42, 125, 236, 0.08)
    --tb-main-color-filter: invert(62%) sepia(61%) saturate(4424%) hue-rotate(184deg) brightness(94%) contrast(102%)
  &.mobile
    --tb-main-color: #305680
    --tb-main-background: rgba(48, 86, 128, 0.08)
    --tb-main-color-filter: invert(29%) sepia(61%) saturate(478%) hue-rotate(171deg) brightness(94%) contrast(93%)
  &.mobile-pe
    --tb-main-color: #1F8B4D
    --tb-main-background: rgba(31, 139, 77, 0.08)
    --tb-main-color-filter: invert(25%) sepia(43%) saturate(5965%) hue-rotate(143deg) brightness(97%) contrast(76%)

body
  background-color: white
  line-height: 1.32

section
  position: relative
  background-color: white

section, header, footer
  main
    position: relative
    margin: auto
    display: block

p
  font-size: 14px
  font-weight: 400
  margin: 0

a
  color: #2a7dec
  &:hover
    color: #2a7dec
  strong
    font-weight: 500

.button
  display: inline-block
  border-radius: 4px
  padding: 10px 20px
  line-height: 24px
  color: white
  background-color: var(--tb-main-color)
  text-decoration: none
  font-size: 16px
  font-weight: 500
  transition-duration: .4s
  transition-timing-function: cubic-bezier(.25, .8, .25, 1)
  transition-property: background-color, filter

  &:hover
    // background-color: #4f97f8
    filter: brightness(1.3) contrast(0.9)
    color: white
    text-decoration: none

  &:focus
    filter: brightness(1.3) contrast(0.9)

  &.accent
    background-color: $orange

    &:hover
      background-color: $orange-02

    &:focus
      background-color: $orange-02

details
  summary
    outline: none
    list-style: none
    position: relative
    padding-left: 18px
    &::-webkit-details-marker
      display: none
    &::marker
      display: none
    &:hover
      color: #2a7dec
      &:before
        filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%) contrast(89%)
    &:before
      content: ""
      background-image: url("/images/pe/read-more-arrow.svg")
      background-size: contain
      display: block
      position: absolute
      left: 0
      top: 4px
      width: 12px
      height: 12px
      transform: rotate(0deg)
      transition: transform 0.3s
      filter: invert(84%) sepia(0%) saturate(7494%) hue-rotate(88deg) brightness(94%) contrast(89%)
      border: none

details[open]
  summary
    font-weight: 500
    &:before
      filter: none
      transform: rotate(90deg)
    &:hover
      &:before
        filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%) contrast(89%)

// HEADER
#partners
  header
    background-color: unset
    box-shadow: unset
    &.opened-burger
      background-color: #fff

#home, #hydroculture-saas, #hydroculture-enterprise, #hydroculture-edge
  header
    background-color: unset
    box-shadow: unset

    .support-ukraine
      p
        color: #fff

    .logo, .burger
      filter: invert(100%) sepia(68%) saturate(0%) hue-rotate(350deg) brightness(113%) contrast(101%)

    .head-menu
      ul
        li.active
          a, a:hover
            color: rgba(255, 255, 255, 0.5)

        a
          color: #fff

        a:not([href])
          color: #fff

          &:hover
            color: #fff

        .centered-sub
          .sub-menu
            li
              a
                color: #212529

              &:hover a
                color: #2A7DEC

    .n-button
      &.try
        color: #fff
        transition-duration: 0s
        border: unset
        background-color: rgba(255, 255, 255, 0.05)

        &:hover
          text-decoration: none
          color: #212529
          background-color: rgba(255, 255, 255, 1)

      &.price:hover
        color: #2A7DEC
        box-shadow: unset
        background-color: #fff

.products-selector
  position: fixed
  height: 60px
  top: 10px
  left: 20px
  width: calc(100% - 100px)
  display: flex
  flex-direction: row
  align-items: center
  z-index: 10001
  @media screen and (min-width: 769px)
    width: 250px
  @media screen and (min-width: 870px)
    width: 348px
  @media screen and (min-width: 1281px)
    width: 250px
    top: 80px
  @media screen and (min-width: 1601px)
    width: 316px
  img
    width: 54px
    height: 54px
    margin-right: 16px
    @media screen and (max-width: 1024px)
      width: 46px
      height: 46px
      margin-right: 10px
      margin-left: -10px
  .product-info
    display: flex
    flex-direction: column
    width: 316px
    height: 44px
    padding-left: 16px
    flex: 1
    justify-content: center
    border-radius: 8px
    background: var(--tb-main-background)
    .product-title
      font-size: 18px
      font-weight: 500
      line-height: 24px
      position: relative
      color: var(--tb-main-color)
      @media screen and (max-width: 1024px)
        font-size: 16px
      &::after
        content: "\f054"
        font-family: FontAwesome
        font-size: 14px
        font-weight: 500
        line-height: 1
        display: block
        position: absolute
        top: 5px
        right: 18px
        transform: rotate(90deg)
        transition: transform .3s
        border: none
    .product-description
      color: #899aab
      font-size: 13px
      font-weight: 400
      @media screen and (max-width: 1024px)
        font-size: 10px

  .products
    transition: visibility, opacity ease-in-out
    transition-duration: 0.3s
    border-radius: 4px
    box-shadow: 0 30px 60px -30px rgba(0, 0, 0, .3), 0 50px 100px -20px rgba(0, 0, 0, 0.25)
    background-color: #fff
    position: absolute
    top: 60px
    left: 16px
    right: -16px
    padding: 8px
    display: flex
    flex-direction: column
    visibility: hidden
    opacity: 0
    a.product
      color: #75767C
      font-size: 16px
      font-weight: 400
      line-height: 24px
      padding: 8px 12px
      &:hover, &.active
        text-decoration: none
        color: #2a7dec
      &.active
        font-weight: 500
        background: rgba(42, 125, 236, 0.04)
  &:hover, &.active
    cursor: pointer
  &.active
    .product-title
      &::after
        transform: rotate(-90deg)
    .products
      visibility: visible
      opacity: 1

header
  @media screen and (min-width: 1280px)
    .head-menu ul li:hover
      .centered-sub
        opacity: 1
        transition-duration: 0.6s
        z-index: 2
        .sub-menu
          top: 84px
          transition-delay: 0s


  position: fixed
  top: 0
  left: 0
  transition-duration: 0.3s
  margin: 0 -78px
  width: calc(100% + 156px)
  z-index: 8888
  box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .1)
  background-color: white
  display: flex
  align-items: center
  justify-content: space-between
  .logo-burger
    display: flex
    height: 100%
    align-items: center

  .head-menu
    height: inherit
    position: relative
    display: flex
    -webkit-box-pack: center
    justify-content: center

    .sub-menu-container
      position: absolute
      top: 84px
      left: 0
      transition: visibility, opacity ease-in-out
      transition-duration: 0.3s
      border-radius: 4px
      box-shadow: 0 30px 60px -30px rgba(0, 0, 0, .3), 0 50px 100px -20px rgba(0, 0, 0, 0.25)
      background-color: #fff
      visibility: hidden
      opacity: 0
      &.active
        visibility: visible
        opacity: 1
        &.bounds-transition
          transition: visibility 0.3s, opacity ease-in-out 0.3s, left ease-in-out 0.2s, width ease-in-out 0.2s, height ease-in-out 0.2s

    .sub-menu-container, ul
      .centered-sub
        width: max-content
        .sub-menu
          width: max-content
          padding: 40px 70px 40px 40px
          display: block
          z-index: 1

          &.products
            @media screen and (min-width: 1281px)
              .sub-groups
                .group
                  &:first-child
                    padding-right: 35px
                  &:nth-child(2)
                    padding-left: 35px
                    border-left: 1px solid #d7d7d7

          .sub-groups
            display: flex
            .group
              padding-right: 70px
              &:last-child
                padding-right: 0
              .group-name
                height: 62px
                text-transform: uppercase
                font-weight: 500
                color: #899AAB
                font-size: 15px
                line-height: normal

          .bottom-group
            background-color: #F9FBFF
            border-radius: 4px
            width: calc(100% + 94px)
            margin: 32px -32px -32px
            padding: 32px

          a
            text-align: left
            display: flex
            margin-bottom: 22px

            &:hover
              .sub-text
                h1
                  color: #2A7DEC
                p
                  color: #212529

            &.prof-lnk:hover, &.license-lnk:hover
              .sub-text
                h1
                  color: #1F8B4D

            &.com-lnk:hover .sub-text h1
              color: #305680

            &.edge-lnk:hover .sub-text h1
              color: #009688

            &.gateway-lnk:hover .sub-text h1
              color: #EB5757

            &.trendz-lnk:hover .sub-text h1
              color: #2696F3

            &.mobile-lnk:hover .sub-text h1
              color: #305680

            &.mobile-pe-lnk:hover .sub-text h1
              color: #1F8B4D

            &:last-child
              margin-bottom: 0

            .sub-text
              padding-top: 4px
              max-width: 300px
              h1
                color: #212529
                font-size: 16px
                font-weight: 600
                line-height: normal
              p
                color: #899AAB
                font-size: 15px
                font-weight: normal
                line-height: normal
            img
              margin-right: 12px
              height: fit-content

            &.small-link
              margin-bottom: 15px
              .sub-text
                padding: 0
                h1
                  font-weight: 500
              &:last-child
                margin-bottom: 0

    ul
      display: flex

      .nav-products
        width: 108px

      .nav-services
        width: 103px

      .nav-cases
        width: 122px

      .nav-customers
        width: 127px

      .nav-company
        width: 118px

      .nav-partners
        width: 104px

      .nav-docs
        width: 74px

      li
        cursor: default
        display: flex
        padding: 10px 14px 14px
        align-items: center
        height: calc(100% + 4px)

        a
          width: 100%
          text-align: center

        &:hover a
          color: #2A7DEC

      a
        display: block
        color: #212529
        font-size: 18px
        font-weight: normal
        text-decoration: none

      a:not([href])
        color: #212529

        &:hover
          color: #2A7DEC

  .support-ukraine
    position: relative
    display: block
    height: 80px
    padding-right: 20px
    img
      height: 32px
    p
      color: #000
      font-size: 12px
  .logo
    position: relative
    float: left
    display: block
    width: 140px
    height: 60px
    top: 0
    left: 0
    transform: none
    background-image: url(/images/thingsboard_logo_b.svg)
    background-size: contain
    background-position: center center
    background-repeat: no-repeat
    filter: unset

ul
  li
    &.active~.indicator
      transition-delay: 0s
      transition-duration: 0.3s
      .line
        transition-delay: 0s
        transition-duration: 0.3s
        width: 100%
        left: 0
        opacity: 1
      .head-arrow
        transition-delay: 0.1s
        transition-duration: 0s
        opacity: 1
  .indicator
    width: 0
    left: 0
    border-radius: 2px
    position: absolute
    height: 4px
    bottom: -4px
    transition-delay: 0s
    transition-duration: 0.3s
    z-index: -1
    padding: 0 14px
    transition-property: none
    &.left-transition
      transition-property: left

    .head-arrow
      position: absolute
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      border-bottom: 4px solid #2A7DEC
      width: 8px
      height: 100%
      left: calc(50% - 4px)
      bottom: 4px
      opacity: 0
      transition-delay: 0s
      transition-duration: 0.3s

    .line
      position: relative
      background-color: #2A7DEC
      width: 0
      height: 100%
      left: 50%
      opacity: 0
      transition-duration: 0.3s

.n-button
  font-size: 18px
  font-weight: 500
  text-align: center
  height: 47px
  transition-duration: 0.3s
  text-decoration: none
  border-radius: 4px
  margin-left: 10px
  padding: 11px 20px

  &.try
    border: solid 1px #EBEBEB
    padding: 10px 11px
    color: #212529
    transition-duration: 0s
    background-color: unset

    &:hover
      border: solid 2px #212529
      padding: 9px 10px
      text-decoration: none

  &.price
    background-color: #2A7DEC
    color: white
    padding: 11px 14px

    &:hover
      transition-duration: 0.3s
      color: #fff
      background-color: #2A7DEC
      box-shadow: 0 18px 16px -10px rgba(42, 125, 236, 0.25)
      text-decoration: none

    &:active
      background-color: #4F97F8
      transition-duration: 0s

.burger
  position: absolute
  top: 16px
  right: 22px
  display: none
  filter: unset
  background-image: url(/images/burger-icon.svg)
  height: 47px
  width: 47px
  background-size: cover
  @media screen and (max-width: 1024px)
    top: 21px
    height: 37px
    width: 37px
    background-image: url(/images/s-burger-icon.svg)

  &:focus
    outline: none

#githubButtonContainer
  display: none
  position: relative
  padding-left: 14px
  margin-top: 2px
  float: left
  height: 60px
  align-items: center
  align-content: center

#docs
  #githubButtonContainer
    @media screen and (max-width: 1280px)
      position: fixed
      left: 372px
      top: 9px
  &.search
    .gsc-control-cse
      margin-top: 32px
      .gsc-above-wrapper-area
        display: none
      .gsc-wrapper
        .gs-bidi-start-align
          color: #212529
          font-size: 16px
          line-height: 1.32
          margin-bottom: .75em
        .gs-visibleUrl
          font-size: 14px
          opacity: .6
          margin-bottom: .25em
        .gs-title
          color: #2a7dec
          font-size: 18px
          line-height: 1.32
          margin-bottom: .5em
          &:hover
            text-decoration: underline
        .gcsc-find-more-on-google
          color: #212529
          opacity: .6
          &:hover span
            text-decoration: underline
          svg
            fill: #212529
        .gs-no-results-result .gs-snippet
          background-color: unset
          border: none
          color: #212529
          font-size: 16px

//#viewDocs, #useCases, #blog, #gettingStarted, #liveDemo, #githubButtonContainer
	display: none

//#viewDocs, #blog, #useCases
.center-button
  display: none
  cursor: pointer
  line-height: 30px
  border: 2px solid white
  background-color: transparent
  transition: 0.3s

  &:hover
    background-color: white
    color: $dark-grey

#customers.nav-item
  display: none

@media screen and (min-width: 460px)
  #viewPricing.center-button
    display: inline-block

// DOCS FEATURES CARDS

.doc-features
  max-width: 1200px

a.feature-card, .feature-card
  display: block
  padding: 24px
  border: 1px solid rgba(0, 0, 0, 0.08)
  border-radius: 8px
  width: 100%
  height: 100%
  &.inner
    padding: 16px
    .feature-title
      font-size: 16px
      line-height: 150%
      padding-bottom: 0
  img.feature-logo
    width: 36px
    height: 36px
    margin-bottom: 20px
    filter: var(--tb-main-color-filter)
  img.integration-logo
    width: 28px
    height: 28px
    margin-right: 7px
  .feature-title
    color: #212529
    font-size: 18px
    font-weight: 500
    line-height: 28px
    padding-bottom: 8px
    span
      vertical-align: middle
  .feature-text
    color: #75767C
    font-size: 14px
    font-weight: 400
    line-height: 24px
    ul
      margin: 0
      li
        margin-bottom: 0

a.feature-card
  &:hover
    text-decoration: none
    transition-duration: 0.3s
    box-shadow: 0 7px 32px rgba(0, 0, 0, 0.06)

#docsContent
  a.feature-card, .feature-card
    .feature-text
      ul
        margin: 0
        li
          margin-bottom: 0

// GRID ADDITIONS
@media screen and (min-width: 1281px)
  .col-xxl
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
  .col-xxl-8
    flex: 0 0 66.6%
    max-width: 66.6%
  .col-xxl-6
    flex: 0 0 50%
    max-width: 50%
  .col-xxl-4
    flex: 0 0 33.3%
    max-width: 33.3%
  .col-xxl-3
    flex: 0 0 25%
    max-width: 25%

@media screen and (min-width: 1600px)
  .col-3xl
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
  .col-3xl-8
    flex: 0 0 66.6%
    max-width: 66.6%
  .col-3xl-6
    flex: 0 0 50%
    max-width: 50%
  .col-3xl-4
    flex: 0 0 33.3%
    max-width: 33.3%
  .col-3xl-3
    flex: 0 0 25%
    max-width: 25%

@media screen and (min-width: 1750px)
  .col-4xl
    flex-basis: 0
    flex-grow: 1
    max-width: 100%
  .col-4xl-8
    flex: 0 0 66.6%
    max-width: 66.6%
  .col-4xl-6
    flex: 0 0 50%
    max-width: 50%
  .col-4xl-4
    flex: 0 0 33.3%
    max-width: 33.3%
  .col-4xl-3
    flex: 0 0 25%
    max-width: 25%

// FLIP NAV
#home, #hydroculture-saas, #hydroculture-enterprise, #trendz, #partners, #hydroculture-edge
  &.flip-nav
    header
      transition-duration: 0.3s
      background-color: white
      box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .1)

      .support-ukraine
        p
          color: #000

      .logo, .burger
        filter: unset

      .head-menu
        ul
          li.active a
            opacity: 1
            color: #2A7DEC

          a
            color: #212529

          .centered-sub .sub-menu
            li
              a
                color: #212529

              &:hover a
                color: #2A7DEC

      .n-button

        &.try
          border: solid 1px #EBEBEB
          color: #212529
          background-color: unset

          &:hover
            border: solid 2px #212529
            padding: 9px 10px

        &.price:hover
          color: #fff
          background-color: #2A7DEC
          box-shadow: 0 18px 16px -10px rgba(42, 125, 236, 0.25)


// OPEN NAV
.open-nav
  //body
  //	overflow: hidden
  header
    background-color: white
    z-index: 9999

// HERO
#hero
  text-align: center
  padding-top: 80px
  padding-left: 0
  padding-right: 0
  margin-bottom: 0
  h5
    margin: 20px 0
    line-height: 28px

.customer-logo
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12)
  width: 200px
  height: 120px
  min-width: 200px
  display: flex
  justify-content: center
  align-items: center
  align-content: center

  img
    flex: 0 0 auto
    object-fit: scale-down
    max-width: 90%
    max-height: 85%
    vertical-align: middle

// FOOTER
footer
  width: 100%
  background-color: #0F161D

  main
    padding: 92px 0 78px

    hr
      border-top: 2px solid white

    .deeper
      margin-bottom: 60px
      display: flex
      justify-content: space-between
      .footer-logo
        background-image: url(/images/thingsboard_logo_b.svg)
        filter: invert(100%) sepia(68%) saturate(0%) hue-rotate(350deg) brightness(113%) contrast(101%)
        width: 180px
        height: 60px
        background-size: contain
        background-position: center center
        background-repeat: no-repeat

      nav
        display: flex
        align-items: center
        justify-content: right

        a
          text-align: right
          display: inline-block
          margin: 0 14px
          font-size: 18px
          color: white
          transition: 300ms
          &:hover
            color: white
          &:last-child
            margin-right: 0
          &:first-child
            margin-left: 0

  .newsletterSubsContainer
    height: 106px
    .subscribe-newsletter-button
      margin-top: 20px
      margin-bottom: 20px
      font-size: 20px
      line-height: 48px
      padding: 0 20px
      @media (max-width: 768px)
        width: 100%
        margin-left: 15px
        margin-right: 15px
        font-size: 16px
        line-height: 42px
        padding: 0 10px

    .loading
      margin: 0
      height: 47px
      padding: 0 18px

    .subscribe
      margin: 0
      height: fit-content
      padding: 12px 20px
      transition-duration: unset
      &:hover
        transition-duration: unset
        box-shadow: unset
        background-color: #4F97F8
      &:focus
        outline: none

    #mlb2-7341216
      .subscribe-form
        background: none !important
        border: none !important
        padding: 0px
        width: 520px !important
        @media (max-width: 768px)
          width: 100% !important

        &.horizontal
          padding-bottom: 0px

      .form-section
        p
          line-height: 150%
          padding: 0px !important
          margin: 0px 0px 10px 0px

        &.mb10
          margin-bottom: 10px
          float: left

        &.horizontal
          float: left
          margin-bottom: 10px
          width: 70%
          @media (max-width: 768px)
            float: none
            width: 100%
            padding: 0

          &.ml-button-position
            width: 30%
            padding: 0
            @media (max-width: 768px)
              float: none
              width: 100%
              padding: 0
              margin-bottom: 20px
              .button
                width: 100%

          .form-group
            float: left
            width: 100%
            padding-right: 6px
            box-sizing: border-box
            margin: 0
            @media (max-width: 768px)
              padding: 0

    #mlb2-7341216.ml-subscribe-form
      .form-group
        &.ml-error
          .form-control
            border-color: red !important

        .form-control
          background-color: white !important
          height: 47px
          padding: 16px
          font-size: 18px
          line-height: 16px
          font-weight: 400
          color: #212529
          border: 1px solid #fff
          transition: .3s

          &::-webkit-input-placeholder
            color: #999 !important

          &::-moz-placeholder
            color: #999 !important

          &:-ms-input-placeholder
            color: #999 !important

          &:-moz-placeholder
            color: #999 !important
    width: 100%
    display: flex
    align-items: center
    align-content: center
    justify-content: left

    p
      color: #6D7175
      font-weight: 400


    form#newsletter-form
      fieldset
        .newsletterInputs
          display: flex
          align-items: center
          align-content: center
          justify-content: center
          flex-direction: column

      .subsTitle
        font-weight: 400
        font-size: 20px
        text-align: center
        margin-bottom: 10px

      #subsEmail
        margin-bottom: 10px
  .deepmost
    display: flex
    justify-content: space-between
    .copyright
      color: #847989
      font-size: 16px
    .social
      width: fit-content
      display: flex
      text-align: right
      a
        width: 20px
        height: 20px
        display: inline-block
        margin-left: 16px
        &.github
          background-image: url(/images/social-git-icon.svg)
        &.gitter
          background-image: url(/images/social-gitter-icon.svg)
        &.youtube
          background-image: url(/images/social-youtube-icon.svg)
        &.stack-overflow
          background-image: url(/images/social-stack-icon.svg)
        &.mailing-list
          background-image: url(/images/social-google-icon.svg)
        &.facebook
          background-image: url(/images/social-face-icon.svg)
        &.twitter
          background-image: url(/images/social-twitt-icon.svg)
        &:hover
          filter: brightness(200%)

#wishField, #subsEmail
  background-color: transparent
  padding: 10px
  font-size: 16px
  font-weight: 100
  color: white
  border: 1px solid white
  transition: 0.3s

  &::-webkit-input-placeholder
    color: #999 !important

  &::-moz-placeholder
    color: #999 !important

  &:-ms-input-placeholder
    color: #999 !important

  &:-moz-placeholder
    color: #999 !important

  &:focus
    background-color: $light-grey
    color: $dark-grey

//#viewDocs, #blog, #useCases
	display: none

section
  background-color: white

#docs
  header
    box-shadow: none
    .logo-burger
      .support-ukraine, .logo
        @media screen and (max-width: 1280px)
          display: none
  #hero
    background: white
    position: fixed
    padding-top: 0
    top: 80px
    left: 0
    right: 0
    z-index: 7888
    height: 60px
    box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .1)
    #hero-content
      height: 100%
    @media screen and (min-width: 1281px)
      box-shadow: none
      padding-left: 296px
    @media screen and (min-width: 1600px)
      padding-left: 362px
  &.flip-nav
    #hero
      transition-duration: 0.3s
      box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .1)
  #pe-docs-banner
    font-size: 18px
    display: none
    flex-direction: column
    align-items: center
    align-content: center

    img
      display: inline-block
      width: 40px
      height: 40px

    div
      display: inline-block
      padding-top: 10px

      a
        &.pe-link
          color: #fff
          font-weight: 500

        &.pe-learn-more
          font-weight: 500
          color: #50b1ff

        &:hover
          text-decoration: underline

  &.open-nav
    #hero
      #hero-content
        visibility: hidden

        #search
          transition: 0ms

  .copy-code
    .highlight
      background: none!important
      .customTooltip
        display: none
        position: absolute
        width: calc(100% - 2px)
        height: calc(100% - 2px)
        top: 1px
        left: 1px
        border-radius: 4px
        background: rgba(255, 255, 255, 0.55)
        .tooltipText
          bottom: calc(50% - 18px)
          left: calc(50% - 54px)
          position: absolute
          text-align: center
          margin-left: auto
          margin-right: auto
          border-radius: 4px
          color: white
          background: #212529
          padding: 8px 22px
      &.showTool .customTooltip
        display: block
      .rouge-code pre
        padding-right: 32px
    position: relative
    button.clipboard-btn
      pointer-events: none
      outline: none
      position: absolute
      img
        width: 18px
        height: 18px
        filter: invert(51%) sepia(6%) saturate(172%) hue-rotate(177deg) brightness(94%) contrast(92%)
      width: 206px
      height: 46px
      top: 0
      right: 0
      background: none
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      p
        padding: 10px
        top: 1px
        transition: 0.2s
        color: #2a7dec
        background: rgba(255,255,255,0.85)
        backdrop-filter: blur(4px)
        opacity: 0
        font-weight: 500
        right: 32px
        position: absolute
      div
        background-color: #fff
        position: absolute
        width: 38px
        height: 38px
        top: 3px
        right: 3px
        padding: 10px
        img
          position: initial
    &:hover
      cursor: pointer
      div.highlight
        pre.highlight
          border: solid 1px #2A7DEC
      button.clipboard-btn
        p
          opacity: 1
        img
          filter: invert(49%) sepia(97%) saturate(3730%) hue-rotate(200deg) brightness(95%) contrast(95%)
    &:active
      button.clipboard-btn
        p
          opacity: 0
        img
          filter: invert(51%) sepia(6%) saturate(172%) hue-rotate(177deg) brightness(94%) contrast(92%)

  #searchBox
    display: block
    z-index: 9999
    position: fixed
    top: 89px
    right: 22px
    height: 44px
    line-height: 44px
    @media screen and (min-width: 1281px)
      width: 240px
    @media screen and (min-width: 1600px)
      width: 350px
    @media screen and (max-width: 1280px)
      top: 18px
      right: 91px
    @media screen and (max-width: 768px)
      top: 164px
      left: 22px
      right: 22px
      width: calc( 100% - 44px )
      visibility: hidden
      opacity: 0
      transition: opacity 0.3s
      &.visible
        visibility: visible
        opacity: 1
    #search
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      width: 100%
      padding: 0 16px
      height: 44px
      line-height: 30px
      font-size: 18px
      vertical-align: middle
      border: 1px solid #ebebeb
      background-color: transparent
      border-radius: 4px
      color: #212529
      box-shadow: none
      +placeholder
        color: #212529
        opacity: 0.6
      &:hover
        border: 2px solid #000
        padding: 1px 15px
        cursor: pointer
      &:focus
        cursor: initial
        border: 2px solid #2a7dec
        padding: 1px 15px
        color: #212529
        +placeholder
          opacity: 0.2
    .searchButton
      position: absolute
      padding: 0
      top: 10px
      right: 12px
      display: inline-block
      vertical-align: middle
      background-size: contain
      background: url(/images/search.svg) no-repeat
      filter: brightness(350%)
      width: 24px
      height: 24px
      &:focus
        outline: none
    &.focused
      .searchButton
        filter: none

  #docsNav
    z-index: 2000
    display: none
    visibility: hidden
    background: #fff
    transition: 0.3s
    position: fixed
    top: 140px
    bottom: calc( 100vh - 140px )
    left: 0
    right: 0
    @media screen and (max-width: 1280px)
      display: block
    > *
      opacity: 0
      transition: 0.3s
    &.active
      visibility: visible
      bottom: 0
      > *
        opacity: 1
      .docItems
        bottom: 0
    .docItems
      position: fixed
      top: 154px
      bottom: calc( 100vh - 154px )
      padding: 30px 20px
      left: 0
      right: 0
      display: flex
      overflow: auto
      flex-direction: column
      @media screen and (max-width: 768px)
        top: 222px
      a.toc
        color: #212529
        font-size: 1.2em
        font-weight: 600
        text-decoration: none
        padding: 7.5px 10px 7.5px 0

  #vendorStrip
    white-space: nowrap
    position: relative
    display: flex
    align-items: center
    justify-content: space-between
    height: 100%
    text-align: center
    img
      max-height: 24px
      vertical-align: middle
      margin: 0 30px
    #docsList
      display: flex
      height: 100%
      width: 100%
      ul
        .indicator
          .head-arrow
            border-bottom-color: var(--tb-main-color)
          .line
            background-color: var(--tb-main-color)
      #docsBreadcrumbs
        position: relative
        display: none
        align-items: center
        padding-left: 22px
        padding-right: 66px
        height: 100%
        width: 100%
        overflow: hidden
        &::after
          content: ""
          background-image: url(/images/pe/read-more-arrow.svg)
          background-size: contain
          display: block
          position: absolute
          top: 23px
          right: 26px
          width: 14px
          height: 14px
          transform: rotate(90deg)
          transition: transform .3s
          border: none
        &.active
          &::after
            transform: rotate(-90deg)
        @media screen and (max-width: 1280px)
          display: flex
        span
          font-size: 17px
          font-weight: 400
          color: rgba(33, 37, 41, 0.6)
          &.item
            &:not(:last-child)
              overflow: hidden
              white-space: nowrap
              text-overflow: ellipsis
            &:last-child
              font-weight: 500
              color: #212529
          &.divider
            padding-left: 6px
            padding-right: 6px
      ul
        display: inline-block
        height: 100%
        @media screen and (max-width: 1280px)
          display: none
        .indicator
          width: 100%
          transition: none
          padding: 0
          div
            transition: none
          .head-arrow
            opacity: 1
          .line
            opacity: 1
            width: 100%
            left: 0
        li
          position: relative
          display: flex
          align-items: center
          height: 100%
          margin-left: 28px
          float: left
          @media screen and (max-width: 1500px)
            margin-left: 20px
          a
            position: relative
            display: block
            color: #212529
            opacity: 0.6
            font-size: 18px
            font-weight: normal
            @media screen and (max-width: 1500px)
              font-size: 17px
            &.YAH
              position: relative
              opacity: 1
              font-weight: 500
            &:hover
              opacity: 1
              text-decoration: none !important

#encyclopedia
  position: relative
  padding: 50px 30px 20px 30px
  overflow: hidden
  font-size: 16px

  & > div
    height: 100%

#docsToc
  position: fixed
  background-color: #F9F9F9
  top: 0
  left: 0
  width: 0
  height: 100vh
  overflow: hidden
  padding: 50px 0
  z-index: 999999
  transition: 0.3s

#docsToc, #docsNav
  .pi-accordion
    .yah-indicator
      position: absolute
      left: 0
      bottom: 4px
      top: 4px
      margin-top: 4px
      content: ""
      border-left: 4px solid var(--tb-main-color)
    .yah
      & > .title
        color: var(--tb-main-color)
        font-weight: 500
    & > .container:first-child > .item.yah:first-child > .title
      padding-left: 0
      font-size: 1.2em
      font-weight: 600
    .item
      display: block
      position: relative
      overflow: visible
    .title
      color: #75767C
      line-height: 24px
      &:hover
        color: #2a7dec
    a.item > .title
      &:hover
        color: #2a7dec
    div.item > .title
      padding-left: 38px
      &:before
        content: "\f054"
        font-family: FontAwesome
        font-size: 14px
        font-weight: 400
        display: block
        position: absolute
        left: 18px
        top: 7.5px
        transform: rotate(0deg)
        transition: transform 0.3s
        border: none
    .item.on
      overflow: visible
      & > .title
        font-weight: 500
        color: #212529
        &:hover
          color: #2a7dec
        &:before
          transform: rotate(90deg)

#device-filters
  display: none
  position: relative
  z-index: 1
  margin-top: 130px
  overflow: hidden
  .header
    display: none
    .indicator
      position: absolute
      left: -20px
      bottom: 4px
      top: 4px
      margin-top: 4px
      content: ""
      border-left: 4px solid var(--tb-main-color)
    .title
      position: relative
      padding: 7.5px 10px 7.5px 0px
      cursor: pointer
      transition: .3s
      color: var(--tb-main-color)
      font-size: 1.2em
      font-weight: 600
      line-height: 24px
  .group
    padding-left: 20px
    .title
      color: #75767C
      line-height: 24px
      padding-left: 15px
      cursor: pointer
      &:hover
        color: var(--tb-main-color)
      &:before
        content: "\f054"
        font-family: FontAwesome
        font-size: 14px
        font-weight: 400
        display: block
        width: 10px
        position: relative
        left: -25px
        top: 23.5px
        transform: rotate(90deg)
        transition: transform 0.3s
        border: none
        cursor: pointer
      &.collapsed
        &:before
          transform: rotate(0deg)

    .filters-wrapper
      overflow: hidden
      transition: height 0.3s
      height: auto
      padding-top: 10px
      .filter
        margin-left: 5px
        .filter-label
          cursor: pointer
          color: #75767C
          line-height: 24px
        input[type=checkbox]
          -webkit-appearance: none
          appearance: none
          background-color: #fff
          margin: 0
          font: inherit
          color: var(--tb-main-color)
          width: 1.15em
          height: 1.15em
          border: 0.15em solid var(--tb-main-color)
          border-radius: 0.15em
          transform: translateY(-0.075em)
          display: inline-flex
          justify-content: center
          align-items: center
          cursor: pointer
        input[type="checkbox"]::before
          content: ""
          width: 0.65em
          height: 0.65em
          transform: scale(0)
          transition: 120ms transform ease-in-out
          box-shadow: inset 1em 1em var(--tb-main-color)
          transform-origin: bottom left
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%)
        input[type="checkbox"]:checked::before
          transform: scale(1)

.faq-link
  position: relative
  cursor: pointer
  font-family: FontAwesome
  font-weight: bold
  vertical-align: super
  font-size: smaller
  display: inline-block
  //color: $green
  &:after
    content: "\f059"
    position: absolute
    transform: translate(15%, -100%)

td.item.item-pe, p.item.item-pe
  &::after
    content: "PE"
    font-size: 12px
    font-weight: bold
    color: var(--tb-main-color)
    transform: translate(5px, -10px)
    display: inline-block

.pi-accordion
  .container
    padding: 0
    margin: 0

  & > .container:first-child > .item:first-child > .title:first-child
    padding-left: 0
    font-size: 1.2em
    font-weight: 600

  & > .container:first-child > .item.yah:first-child > .title:first-child
    margin-left: -20px !important

  .item
    overflow: hidden

    &:hover
      text-decoration: none

  .title
    color: $dark-grey
    position: relative
    padding: 7.5px 10px 7.5px 18px
    cursor: pointer
    transition: 0.3s

    &:hover
      color: $blue

  a.item > .title
    color: black

    &:hover
      color: $blue

  a.item.item-pe > .title
    &::after
      content: "PE"
      font-size: 12px
      font-weight: bold
      color: $blue
      transform: translate(5px, -10px)
      display: inline-block

  a.item.item-new > .title
    &::after
      content: "NEW"
      font-size: 12px
      font-weight: bold
      color: var(--tb-main-color)
      transform: translate(5px, -10px)
      display: inline-block

  div.item > .title
    &:before
      content: ""
      position: absolute
      top: 12px
      left: 2px
      border-style: solid
      border-width: 5px 0 5px 8px
      border-color: transparent transparent transparent $blue
      transform: rotate(0deg)
      transition: 0.3s

  div.item.item-pe > .title
    &::after
      content: "PE"
      font-size: 12px
      font-weight: bold
      color: var(--tb-main-color)
      transform: translate(5px, -10px)
      display: inline-block

  div.item.item-new > .title
    &::after
      content: "NEW"
      font-size: 12px
      font-weight: bold
      color: var(--tb-main-color)
      transform: translate(5px, -10px)
      display: inline-block

  .wrapper
    overflow: hidden
    position: relative
    width: 100%
    transition: height 0.3s

  .content
    padding-left: 20px
    opacity: 0
    transition: 0.3s

  .item.on
    & > .title:before
      transform: rotate(90deg)

    & > .wrapper > .content
      opacity: 1

dt
  margin-bottom: 8px

dd
  margin-bottom: 16px

.pi-pushmenu
  display: none
  position: fixed
  top: 0
  width: 100%
  height: 100%
  opacity: 0
  transition: opacity 0.3s

  &.on
    opacity: 1

  .overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.4)

  .sled
    position: absolute
    top: 0
    width: 0
    height: 100%
    background-color: white
    overflow: auto
    transition: 0.3s

  &.on .sled
    width: 400px
    max-width: 100vw

  .top-bar
    height: 0
    line-height: 60px
    background-color: #444

  ul
    margin-top: 25px

    & > li
      position: relative
      display: block
      width: 100%
      min-height: 45px
      padding: 0 60px 0 20px
      border-bottom: 1px solid #cccccc

  a
    display: inline-block
    width: 100%
    height: 45px
    line-height: 45px
    font-family: $base-font
    font-size: 20px
    color: $blue

  .button
    background: none
    padding: 0

  ul ul
    padding: 0 20px

    li
      min-height: 40px

    a
      height: 40px
      line-height: 40px
      font-size: 18px
      color: lighten(#222222, 20%)

iframe
  &.demoDashboardFrame
    height: 400px
    padding: 20px 0

#peContent, #paasContent, #edgeContent
  position: relative
  width: 100%
  margin: auto

  * + h2, * + h3, * + h4, * + h5, * + h6
    margin-top: 30px

  section
    padding-left: 0
    padding-right: 0

  table
    width: 100%
    border: 1px solid #ccc
    border-spacing: 0
    margin-top: 30px
    margin-bottom: 30px

  thead, tr:nth-child(even)
    background-color: $light-grey

  thead
    background-color: #555
    color: white

  th, td
    padding: 8px
    text-align: left
    margin: 0

  th
    font-weight: normal

  td
    font-size: 0.85em

$header-clearance: 210px

#docsContent
  position: relative
  float: right
  width: 100%
  footer
    background: none
    padding: 0
    main
      padding-top: 20px
      &.light-text
        color: #212529
      .deeper
        .footer-logo
          display: none
        nav
          justify-content: left
          a
            color: #212529
      .newsletterSubsContainer
        display: none
      hr
        border-top-width: 1px
        border-top-color: #212529
        margin-bottom: 2rem
      .deepmost
        .social
          a:hover
            filter: invert(35%) sepia(99%) saturate(1401%) hue-rotate(200deg) brightness(90%) contrast(100%)

  #top-spacer
    height: 124px
  h1:first-of-type
    margin-bottom: 40px
  #content
    padding-bottom: 30px
    h1, h2, h3, h4, h5, h6
      // Make sure anchor links aren't hidden by the header
      &:before
        display: block
        content: " "
        visibility: hidden
        margin-top: -$header-clearance
        height: $header-clearance
    > ul#markdown-toc
      display: none

    h1.mainTitle
      font-size: 36px
      font-weight: 500
      line-height: 54px
      width: 100%
      margin: 0 0 56px
      padding: 0
      &:before
        content: none

  &.noToc
    float: none
    margin: auto

  $toc-margin: 15px

  * + h2, * + h3, * + h4, * + h5, * + h6
    margin-top: 30px

  h1, h2, h3, h4, h5, h6
    line-height: normal
    font-weight: 500
    margin-bottom: 10px
    padding-bottom: 0
    pointer-events: none

  h1
    font-size: 32px
    padding-right: 60px

  h2
    font-size: 28px

  h3
    font-size: 24px

  h4
    font-size: 20px

  h5, h6
    font-size: 18px
    font-weight: 500

  p
    font-size: 16px
    font-weight: 400
    line-height: 1.5em

  p + p
    margin-top: 10px

  pre .pi, pre .s
    margin: 0
    padding: 0

  h1 code, h2 code, h3 code, h4 code, h5 code, h6 code
    font-family: inherit
    font-size: inherit
    background-color: transparent

  ul li
    list-style: disc

  ol li
    list-style: decimal

  ul, ol
    margin: 20px 0
    padding-left: 30px
    font-weight: 400

  ul ul, ol ol, ul ol, ol ul
    margin: 0.75em 0

  li
    margin-bottom: 0.75em

  table.includecode
    border: none
    margin: 0
    > tbody > tr > td
      padding: 0

  table:not(.rouge-table):not(.includecode)
    width: 100%
    overflow: hidden
    table-layout: fixed
    border: 1px solid rgba(42,125,236,0.2)
    border-radius: 4px
    border-collapse: unset
    border-spacing: 0
    margin-top: 30px
    margin-bottom: 30px

    > thead
      background-color: #f9fbff
      color: rgba(33, 37, 41, 0.6)

    > tbody, > thead
      > tr
        > th, > td
          font-size: 16px
          padding: 12px 16px
          text-align: left
          margin: 0
          word-break: break-word
        > th
          font-weight: normal
    > thead
      > tr
        > th, > td
          border-bottom: 1px solid rgba(42,125,236,0.2)
    > tbody
      > tr
        &:not(:last-child)
          > td
            border-bottom: 1px solid rgba(42,125,236,0.2)


  #editPageButton
    position: absolute
    top: -25px
    right: 5px
    width: 56px
    height: 56px
    line-height: 56px
    border-radius: 50%
    white-space: nowrap
    text-indent: 56px
    overflow: hidden
    background: $blue url(/images/icon-pencil.svg) no-repeat
    background-position: 16px 16px
    background-size: 24px 24px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
    transition: box-shadow .4s cubic-bezier(.25, .8, .25, 1), background-color .4s cubic-bezier(.25, .8, .25, 1)

    &:hover
      background-color: $blue-02

    &:focus
      background-color: $blue-02

    &:active
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)

  #markdown-toc
    margin-bottom: 20px

    ul, li
      list-style: disc
      color: $blue

    ul
      padding: 0 15px
      margin: 0

    li
      padding: 0
      line-height: 1.5em
      margin-bottom: 0

    a
      position: relative
      color: $blue
      font-weight: 600

  img
    max-width: 100%

  .customer-logo
    img
      max-width: 75%
      max-height: 85%

  a.issue
    margin-left: 20px

  #docsActions
    padding-top: 15px

    #editPageBtns
      padding-top: 10px

  #video
    width: 100%
    margin: 0

  div.products-title
    text-align: center
    font-size: 48px
    padding-bottom: 50px
    font-weight: 500

  .cards
    position: relative
    display: flex
    font-size: 16px
    justify-content: space-around
    flex-wrap: wrap

    .card
      position: relative
      margin-bottom: 49px
      padding-left: 0
      display: block
      width: 300px
      height: 300px
      border-radius: 3px
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26)
      color: #ffffff
      background: $professional-color
      overflow: hidden

      &:hover
        text-decoration: none

      &.hydroculture-standard
        background: #3a6a9e

      &.hydroculture-enterprise
        background: #00695c

      &.hydroculture-edge
        background: #009688

      &.hydroculture-gw
        background: #467978

      &.trendz
        background: #5555FF

      .card-img
        position: absolute
        width: 60%
        height: 60%
        opacity: .5
        top: 92px
        left: 20%
        z-index: 90
        background-size: 65% 65%
        background-repeat: no-repeat
        background-position: center
        background-color: rgba(0, 0, 0, 0.8)
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12)
        border-radius: 50%
        transition: opacity .3s ease, left .4s ease, top .4s ease, height .4s ease, width .4s ease, background-color .4s ease

        &.product
          background-size: contain
          width: 100%
          height: 170px
          left: 0px
          opacity: .7
          border-radius: initial
          background-color: initial
          box-shadow: none

        &.agriculture-bg
          background-image: url(/images/industries/agriculture.svg)

        &.smart-energy-bg
          background-image: url(/images/industries/smart_energy.svg)

        &.fleet-tracking-bg
          background-image: url(/images/industries/fleet_tracking.svg)

        &.telecom-bg
          background-image: url(/images/industries/telecom.svg)

        &.smart-building-bg
          background-image: url(/images/industries/smart_building.svg)

        &.smart-city-bg
          background-image: url(/images/industries/smart_city.svg)

        &.manufacture-bg
          background-image: url(/images/industries/manufacture.svg)

        &.support-plans-bg
          background-image: url(/images/services/support_plans.svg)

        &.training-sessions-bg
          background-image: url(/images/services/training_sessions.svg)

        &.professional-services-bg
          background-image: url(/images/services/professiona_services.svg)

        &.consulting-bg
          background-image: url(/images/services/consulting.svg)

        &.cloud-bg
          background-image: url(/images/services/cloud.svg)

        &.enterprise-edition-bg
          background-image: url(/images/services/professional_edition.svg)

        &.standard-edition-bg
          background-image: url(/images/services/community_edition.svg)

        &.edge-bg
          background-image: url(/images/services/edge.svg)

        &.gateway-bg
          background-image: url(/images/services/gateway.svg)

        &.trendz-bg
          background-image: url(/images/services/trendz.svg)

      .card-title
        display: flex
        text-align: center
        align-items: center
        justify-content: center
        text-transform: uppercase
        width: 100%
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        padding: 15px
        font-size: 20px
        font-weight: 500
        height: 86px

      .title-text
        z-index: 90
        position: relative

        &:after
          content: ''
          width: 0
          height: 2px
          position: absolute
          bottom: -4px
          left: 0
          transition: all .3s ease
          background: #fff
          z-index: 90

      .card-description
        position: absolute
        top: 100%
        bottom: 0
        background-color: $orange
        text-align: center
        width: 100%
        color: rgba(255, 255, 255, 0.87)
        left: 0
        padding: 173px 15px 15px 15px
        opacity: 0
        transition: background-color .3s ease, top .4s ease, opacity .2s
        font-size: 18px
        z-index: 70


      &:hover
        .card-title
          color: #fff

        .title-text
          &:after
            width: 100%

        .card-img
          height: 25%
          width: 25%
          left: 37.5%
          background-color: transparent
          box-shadow: none
          opacity: 1

          &.product
            width: 100%
            height: 80px
            left: 0px

        .card-description
          top: 0
          opacity: 1

  .supportPlans
    width: 100%
    margin: 30px 0
    position: relative
    display: block
    font-size: 16px
    color: #323232

    .supportPlan
      display: block
      padding-bottom: 15px

      &.essential
        .pricingTable
          li.heading-row
            background-color: #2a5079
            border-color: #2a5079

          li.pricing-row
            background-color: #69a0dc
            border-color: #69a0dc

          li
            background-color: #5389c5
            border-color: #5389c5

            a.button
              color: #5389c5

              &:hover
                background-color: #2a5079

      &.premium
        .pricingTable
          li.heading-row
            background-color: #2b5963
            border-color: #2b5963

          li.pricing-row
            background-color: #5d9aa7
            border-color: #5d9aa7

          li
            background-color: #45818e
            border-color: #45818e

            a.button
              color: #45818e

              &:hover
                background-color: #2b5963

      &.ultimate
        .pricingTable
          li.heading-row
            background-color: #315245
            border-color: #315245

          li.pricing-row
            background-color: #7bb39c
            border-color: #7bb39c

          li
            background-color: #48886e
            border-color: #48886e

            a.button
              color: #48886e

              &:hover
                background-color: #315245

      .pricingTable
        margin: 20px
        padding-left: 0px
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12)

        li.empty
          display: none

        li
          list-style-type: none
          list-style-position: outside
          text-align: center
          padding: 14px 17px
          margin: 0
          position: relative
          height: 48px
          display: flex
          align-items: center
          justify-content: center
          color: #fff
          font-size: 16px

          a.button
            padding: 14px 30px 12px
            font-size: 18px
            border: 2px solid #fff
            background-color: #fff
            transition: 0.3s
            color: $blue

            &:hover
              background-color: $blue
              color: #fff

        li:last-child
          display: block
          height: 146px

        li:nth-child(3)
          padding-top: 30px
          height: 60px

        li.heading-row
          color: #ffffff
          height: auto
          font-size: 28px

        li.pricing-row
          line-height: 1em
          padding: 10px 12px
          color: #ffffff
          border: 1px solid $blue
          height: 146px
          display: block
          text-align: center

        li
          .old-price
            line-height: 30px
            opacity: 0.85
            display: block
            font-size: 20px
            text-decoration: line-through
            padding-bottom: 10px

          .price
            line-height: 60px
            display: block
            font-size: 50px
            font-weight: 600

            .small
              font-size: 16px
              line-height: 1.4em

            &.free
              height: 100%
              display: flex
              justify-content: center
              align-items: center

          .price-contact-us
            height: 100%
            display: flex
            align-items: center
            justify-content: center

          .currency-symbol
            text-decoration: none
            opacity: 0.4
            color: #000
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
            font-size: 0.5em
            position: relative
            top: -0.6em
            line-height: 1em
            font-weight: normal

          small
            opacity: 0.4
            color: #000
            text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
            display: block
            font-size: 16px
            font-style: italic
            line-height: 1.4em
            font-weight: normal
            letter-spacing: 1px

  .trainings-info
    width: 100%
    color: #ffffff

    table
      border: 0

    td
      border-bottom: 1px solid #ffffff

    td:nth-child(1)
      width: 25%
      background-color: $dark-grey
      background-image: url(/images/texture.png)
      font-size: 14px
      text-transform: uppercase

    td:nth-child(2), td:nth-child(3)
      background-color: $blue

    td:nth-child(2)
      width: 75%
      font-size: 16px

    tr:last-child
      td
        border-bottom: none

      td:nth-child(2)
        width: 35%

      td:nth-child(3)
        width: 40%
        padding: 8px 0

        .button
          font-size: 12px
          padding: 0 4px
          line-height: 30px

    td.price
      font-size: 14px

      .old-price
        opacity: 0.85
        text-decoration: line-through

  span.heading
    font-weight: 500
    font-size: 26px

@media screen and (min-width: 960px)
  iframe
    &.demoDashboardFrame
      height: 600px

  @media screen and (max-width: 1300px)
    iframe
      &.demoDashboardFrame
        width: 959px

@media screen and (max-width: 1500px)
  header
    margin: unset
    width: 100%

    .head-menu
      ul
        li
          padding: 10px 10px 14px

          &.nav-products
            width: 94px

          &.nav-services
            width: 91px

          &.nav-cases
            width: 109px

          &.nav-customers
            width: 114px

          &.nav-company
            width: 105px

          &.nav-partners
            width: 90px

          &.nav-docs
            width: 61px

          a
            font-size: 17px

        .indicator
          padding: 0 10px

    div .n-button
      margin-left: 8px
      font-size: 17px

@media screen and (min-width: 1281px) and (max-width: 1400px)
  header
    .head-menu
      ul
        li
          padding: 10px 6px 14px

          &.nav-products
            width: 78px

          &.nav-services
            width: 74px

          &.nav-cases
            width: 92px

          &.nav-customers
            width: 96px

          &.nav-company
            width: 88px

          &.nav-partners
            width: 73px

          &.nav-docs
            width: 50px

          a
            font-size: 15px

@media screen and (max-width: 1280px)
  #docs
    header
      height: 80px !important
  #home, #docs, #common, #hydroculture-saas, #hydroculture-enterprise, #trendz, #hydroculture-edge
    .opened-burger
      height: 100%!important
      .burger
        background-image: url(/images/close-icon.svg)
        @media screen and (max-width: 1024px)
          background-image: url(/images/s-close-icon.svg)
      transition-duration: 0.3s
      background-color: white
      box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 40px rgba(0, 0, 0, .1)

      .support-ukraine
        p
          color: #000

      .logo, .burger
        filter: unset

      .head-menu
        display: block
        margin: 70px -30px 0
        padding: 16px 30px 0

        ul
          li:hover a
            color: #2A7DEC!important

          a, a:not([href])
            color: #212529

          .centered-sub
            margin: 0
            width: 100%
            .sub-menu
              background-color: unset
              li
                a
                  color: #212529

                &:hover a
                  color: #2A7DEC
              .bottom-group
                width: calc(100% + 94px)


      .n-button
        display: inline-block

        &.try
          border: solid 1px #EBEBEB
          color: #212529
          background-color: unset

          &:hover
            border: solid 2px #212529
            padding: 9px 10px

        &.price:hover
          color: #fff
          background-color: #2A7DEC
          box-shadow: 0 18px 16px -10px rgba(42, 125, 236, 0.25)

  header
    padding: 9px 30px
    display: unset
    height: unset !important
    transition-property: height
    &.opened-burger
      //position: absolute
      height: 100%!important
      z-index: 10000
      .logo-burger
        height: 78px
        position: fixed
        z-index: 2
        background-color: #fff
        box-shadow: 0 1px 0 rgba(48, 86, 128, 0.07)
        width: 100%
        margin: -9px 0 0 -30px
        padding: 9px 30px
      .burger
        background-image: url(/images/close-icon.svg)
        @media screen and (max-width: 1024px)
          background-image: url(/images/s-close-icon.svg)

      .head-menu
        display: block
        overflow-y: auto
        height: calc(100% - 182px)
        margin: 70px -30px 0
        padding: 16px 30px 0
        .centered-sub
          justify-content: left
          opacity: 1
          width: 100%
          .sub-menu
            display: none
            top: unset

      .n-button
        display: inline-block

    .burger
      display: block

    .head-menu
      display: none
      margin-top: 80px

      ul
        display: unset

        li
          height: unset
          width: 100%!important
          a
            text-align: left
            &:focus
              .centered-sub
                margin: 0
                .sub-menu
                  display: block
          display: block

          .centered-sub
            margin: 0
            .sub-menu
              position: unset
              box-shadow: unset
              padding: 12px 0
              background-color: unset

              &.open-sub
                display: flex
                width: 100%
                flex-wrap: wrap

              .bottom-group
                margin: 0 -32px 0
                padding: 10px 32px 0

              .sub-groups
                flex-wrap: wrap
                .group .group-name
                  display: none

              a:last-child
                margin-bottom: 22px
                &.small-link
                  margin-bottom: 15px

        .indicator
          display: none

    .n-button
      display: none
      margin: 40px 0 40px 8px
  #docsToc
    display: none
  #docsContent
    #table-of-contents
      display: none


@media screen and (min-width: 1700px)

  iframe
    &.demoDashboardFrame
      height: 810px

  #docsContent

    .services
      display: table
      table-layout: fixed

      .service
        display: table-cell
        padding-left: 50px
        padding-bottom: 0px

    .supportPlans
      display: table
      table-layout: fixed

      .supportPlan
        display: table-cell
        padding-bottom: 0px

        .pricingTable
          li.empty
            display: flex

.fixed footer
  position: fixed
  bottom: 0

#docs
  .fixed
    footer
      width: calc( 100% - 60px)
      @media screen and (min-width: 1281px)
        width: calc( 100% - 590px)
      @media screen and (min-width: 1500px)
        width: calc( 100% - 810px)

#miceType
  clear: both

html.search #docsContent

  #editPageButton
    display: none

  table
    border: 0
    margin-bottom: 0

  td
    padding: 0

  h1
    margin-bottom: 0
    border-bottom: 0
    padding-bottom: 0
    padding-left: 8px

// ocean nodes
$ocean-nodes-padding-Y: 10px
$ocean-nodes-main-margin-bottom: 60px
$ocean-nodes-h3-margin-bottom: 30px

// OCEAN NODES
.oceanNodes
  padding-top: $ocean-nodes-padding-Y
  padding-bottom: $ocean-nodes-padding-Y

  a
    color: $blue

  main
    margin-bottom: $ocean-nodes-padding-Y
    min-height: 160px

  .image-wrapper
    max-width: 75%
    margin: 0 auto 20px
    text-align: center

    img
      width: 100%
      max-width: 160px

  h3
    margin-bottom: $ocean-nodes-h3-margin-bottom

// Video
#video
  width: $main-max-width
  position: relative
  margin: auto
  padding: 0

  #video_wrapper
    width: 100%
    padding-bottom: 56.25%

    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

// Tabs

#docsContent
  .ui-widget-header
    background: transparent
    border: none

  .ui-tabs-scrollbox
    height: 39px
    overflow-x: auto
    background: linear-gradient(to right, #fff, #fff),linear-gradient(to right, #fff, #fff),linear-gradient(to right, rgba(235, 235, 235, 1), rgba(255,255,255,0)),linear-gradient(to left, rgba(235, 235, 235, 1), rgba(255,255,255,0))
    background-position: left center, right center, left center, right center
    background-repeat: no-repeat
    background-color: white
    background-size: 40px 100%,40px 100%,20px 100%,20px 100%
    background-attachment: local, local, scroll, scroll
    border-bottom: 1px solid #EBEBEB
    ul
      display: none
      &.ui-tabs-nav
        display: flex

  .ui-tabs
    .ui-tabs-scrollbox
      height: auto

  .docs-tabs
    margin-top: 20px

  .ui-tabs
    ul, ol, li
      padding: 0
      list-style: none
      margin: 0

  .ui-widget-content
    padding: 0
    border: none

  .ui-tabs .ui-tabs-panel
    padding: 0
    border: none
    overflow-x: auto

  .ui-tabs .ui-tabs-nav .ui-tabs-anchor
    padding-bottom: 10px
    padding-left: 12px
    padding-right: 12px

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
    border: none
    background: none
    color: rgba(33, 37, 41, 0.6)
    a, a:link
      color: rgba(33, 37, 41, 0.6)
    &:first-child
      a, a:link
        padding-left: 0
    &:last-child
      a, a:link
        padding-right: 0
    &:hover
      color: #212529
      a, a:link
        color: #212529

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
    color: #212529
    font-weight: 500
    &:after
      content: ""
      background: #2a7dec
      height: 3px
      position: absolute
      bottom: 0
      left: 12px
      right: 12px
    &:first-child
      &:after
        left: 0
    &:last-child
      &:after
        right: 0
    a, a:link
      color: #212529
      font-weight: 500

#calendarWrapper
  height: 300px
  margin-bottom: 48px

// Talk to us
#docsContent
  #content
    #talkToUs
      padding: 0
      margin-bottom: 48px
      h1, h2, h3, h4
        &:before
          content: none

      #bigSocial, #gettingHelp
        display: flex
        flex-wrap: wrap
        justify-content: flex-start

        a
          position: relative
          display: block
          cursor: pointer
          text-decoration: none
          margin-top: 20px
          padding: 66px 24px 24px
          background-position: 24px 24px
          background-size: 32px
          background-repeat: no-repeat
          border: 1px solid #EBEBEB
          border-radius: 4px
          color: #212529
          &:after
            content: ""
            background-image: url("/images/link-arrow.svg")
            background-size: contain
            display: block
            position: absolute
            right: 14px
            top: 14px
            width: 8px
            height: 9px
            border: none
          &:hover
            border: 4px solid #2A7DEC
            padding: 63px 21px 21px
            background-position: 21px 21px
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05), 0px 30px 30px -20px rgba(0, 0, 0, 0.15)
            &:after
              right: 11px
              top: 11px
          h1
            color: #2A7DEC
            font-weight: 500
            font-size: 18px
            line-height: 27px
            padding: 0
            margin: 0 0 2px
          p
            font-weight: 300
            font-size: 16px
            line-height: 24px
            padding: 0
            margin: 0

      #bigSocial
        a
          width: 100%
          @media screen and (min-width: 640px)
            width: calc((100% - 16px * (2 - 1)) / 2)
            &:nth-child(even)
              margin-left: 16px
          @media screen and (min-width: 1280px)
            width: calc((100% - 16px * (4 - 1)) / 4)
            &:not(:first-child)
              margin-left: 16px
          @media screen and (min-width: 1500px)
            max-width: 400px

        a:nth-child(1)
          background-image: url(/images/twitter_icon.png)

        a:nth-child(2)
          background-image: url(/images/github_icon.png)

        a:nth-child(3)
          background-image: url(/images/gitter_icon.png)

        a:nth-child(4)
          background-image: url(/images/stackoverflow_icon.png)

      #gettingHelp
        a
          width: 100%
          @media screen and (min-width: 640px)
            width: calc((100% - 16px * (2 - 1)) / 2)
            &:nth-child(even)
              margin-left: 16px
          @media screen and (min-width: 1024px)
            width: calc((100% - 16px * (3 - 1)) / 3)
            &:not(:first-child)
              margin-left: 16px
          @media screen and (min-width: 1500px)
            max-width: 400px

        a:nth-child(1)
          background-image: url(/images/gitter_icon.png)

        a:nth-child(2)
          background-image: url(/images/google_groups_icon.png)

        a:nth-child(3)
          background-image: url(/images/stackoverflow_icon.png)

// jSocials

.jssocials-share-link
  border-radius: 50% !important
