$pricing-color: #506dad

@media (min-width: 1400px)
  .container
    max-width: 1400px

html#pricing

  .tCenter
    text-align: center

  #hero
    padding-top: 60px

  #encyclopedia
    padding: 0
    overflow: initial

  color: #424242

  .flyout-button
    display: none

  #viewPricing.center-button
    display: none

  @media (min-width: 1400px)
    .col-gt-xl
      flex: 1
      max-width: 100%

  #pricingContent
    color: #212529
    position: relative
    background-color: #fff
    width: 100%
    margin: auto

    .faq-content
      padding: 60px 0 80px
      * + h2, * + h3, * + h4, * + h5, * + h6
        margin-top: 30px
      h1
        text-align: center
      h2
        text-align: center
        font-size: 36px
        font-weight: 300
        line-height: 54px
        &#faq
          padding-bottom: 48px
      h3
        font-weight: 300
        font-size: 24px
        line-height: 36px
        margin-bottom: 16px
      p
        line-height: 1.5em

      ul, ol
        margin: 20px 0
        padding-left: 30px
        font-weight: 400
      ul
        li
          list-style: disc
          margin-bottom: .75em

      .pi-accordion
        h4.title
          font-size: 18px
          font-weight: 500
          line-height: 27px
          padding: 22px
          transition: none
          &:after
            content: "+"
            position: absolute
            right: 25px
            font-size: 28px
            color: #707275
            transform: rotate(0deg)
            transition: transform 0.3s
            margin-right: 1px

        div.item
          border: 1px solid #EBEBEB
          border-radius: 4px
          overflow: visible
          &:hover
            border: 2px solid #2A7DEC
            h4.title
              padding: 21px
              color: #1f3a52
              &:after
                color: #1f3a52
                right: 24px
          &:not(:last-of-type)
            margin-bottom: 7px
          &:before
            display: block
            content: " "
            margin-top: -70px
            height: 70px
            visibility: hidden
          & > h4.title
            &:before
              display: none

        .content
          border: none
          box-shadow: none
          border-radius: 4px
          padding: 5px 50px 25px 10px
          margin: 0 10px 10px
        .item.on
          border: 2px solid #2A7DEC
          box-shadow: 0 18px 16px -10px rgba(42,125,236,0.25)
          h4.title
            padding: 21px
            &:after
              transform: rotate(45deg)
              transition: transform 0.3s
              margin: unset

    a, button
      &.btn-blue
        background-color: #2A7DEC
        color: #fff
        padding: 8px 24px
        text-align: center
        font-size: 18px
        font-weight: 500
        outline: none
        border-radius: 4px
        border: solid 2px #2A7DEC
        box-shadow: 0 18px 16px -10px rgba(42,125,236,0.25)
        line-height: 28px
        &:hover
          background-color: #fff
          color: #2A7DEC

    a.btn-blue
      text-decoration: none


    .pricing-square
      padding: 25px 32px
      box-shadow: 0 52px 40px -32px rgba(0,0,0,0.1)
      border-radius: 4px
      background-color: #fff
      height: 100%
      h2
        font-size: 32px
        font-weight: 600
        line-height: 48px
      .pricing-square-description
        font-size: 16px
        line-height: 24px
        color: #707275
        @media (min-width: 768px)
          min-height: 110px
        @media (min-width: 992px)
          min-height: 120px
        @media (min-width: 1200px)
          min-height: 120px
        @media (min-width: 1400px)
          min-height: 100px
        p
          margin-bottom: 1rem
      .pricing-square-price
        font-weight: 700
        font-size: 32px
        line-height: 60px
        text-align: center
        letter-spacing: -.01em
        @media (min-width: 768px)
          min-height: 42px
        span
          font-size: 24px
          line-height: 34px
          font-weight: 400
      .pricing-square-item
        font-size: 14px
        line-height: 21px
        padding-bottom: 5px
        margin-left: 32px
        &:before
          content: ""
          display: inline-block
          vertical-align: middle
          background-size: contain
          background: url("/images/item-check.svg") no-repeat
          width: 18px
          height: 19px
          margin-right: 11px
          margin-left: -32px

    .solution-selector
      height: 44px
      border-radius: 26px
      margin-bottom: 30px
      @media (min-width: 992px)
        margin-bottom: 0
      .solution
        padding-left: 14px
        padding-right: 24px
        &:nth-of-type(1)
          margin-right: 12px
        h3
          font-size: 14px
          line-height: 20px
          @media (min-width: 480px)
            font-size: 18px
            line-height: 27px
          &:before
            padding-right: 12px
            line-height: 42px
        &.active
          border-radius: 22px

    .product-selector
      height: 44px
      border-radius: 26px
      .solution
        padding-left: 14px
        padding-right: 24px
        &:nth-of-type(1)
          margin-right: 12px
        h3
          font-size: 14px
          line-height: 20px
          @media (min-width: 480px)
            font-size: 18px
            line-height: 27px
          &:before
            padding-right: 12px
            line-height: 42px
        &.active
          border-radius: 22px

    a.faq-link
      &:after
        transform: translate(5%, -80%)

    .solution-selector, .product-selector
      display: flex
      border: 1px solid rgba(0, 0, 0, 0.08)
      .solution
        position: relative
        color: #707275
        cursor: pointer
        height: 100%
        display: flex
        align-items: center
        h3
          font-weight: 500
          &:before
            display: inline-block
            vertical-align: middle
          a.faq-link
            &:after
              margin-left: 2px
        &.pay-as-you-go
          &:before
            content: ""
            display: inline-block
            vertical-align: middle
            background-size: contain
            background: url("/images/pricing/payg-icon.svg") no-repeat
            filter: invert(53%) sepia(8%) saturate(130%) hue-rotate(145deg) brightness(93%) contrast(91%)
            width: 28px
            height: 28px
            margin-right: 10px

        &.perpetual
          &:before
            content: ""
            display: inline-block
            vertical-align: middle
            background-size: contain
            background: url("/images/pricing/perpetual-icon.svg") no-repeat
            filter: invert(53%) sepia(8%) saturate(130%) hue-rotate(145deg) brightness(93%) contrast(91%)
            width: 28px
            height: 28px
            margin-right: 10px
        &.standard-edition
          &:before
            content: ""
            display: inline-block
            vertical-align: middle
            background-size: contain
            background: url("/images/pricing/source-code-icon.svg") no-repeat
            filter: invert(53%) sepia(8%) saturate(130%) hue-rotate(145deg) brightness(93%) contrast(91%)
            width: 28px
            height: 28px
            margin-right: 5px
            margin-top: 5px
        &.hydroculture-saas, &.trendz-cloud
          &:before
            content: ""
            display: inline-block
            vertical-align: middle
            background-size: contain
            background: url("/images/pricing/cloud-icon.svg") no-repeat
            filter: invert(53%) sepia(8%) saturate(130%) hue-rotate(145deg) brightness(93%) contrast(91%)
            width: 28px
            height: 28px
            margin-right: 10px
        &.hydroculture-enterprise, &.trendz-self-managed
          &:before
            content: ""
            display: inline-block
            vertical-align: middle
            background-size: contain
            background: url("/images/pricing/self-icon.svg") no-repeat
            filter: invert(53%) sepia(8%) saturate(130%) hue-rotate(145deg) brightness(93%) contrast(91%)
            width: 28px
            height: 28px
            margin-right: 10px
        &.active
          &:before
            filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(242deg) brightness(107%) contrast(101%)
          color: #fff
          background: #2A7DEC
          box-shadow: 0 18px 16px -10px rgba(42,125,236,0.25)
          &:after
            background-color: #fff
        &:hover:not(.active)
          &:before
            filter: invert(11%) sepia(10%) saturate(825%) hue-rotate(169deg) brightness(93%) contrast(90%)
          color: #000

    div.pricing-content
      position: relative
      z-index: 4
      padding-top: 0
      padding-bottom: 60px
      background-color: #f4f7fa
      .pricing-content-header
        padding-top: 20px
        flex-direction: column-reverse
        @media (min-width: 992px)
          flex-direction: row
          padding-top: 56px
        h2
          font-size: 24px
          line-height: 36px
          font-weight: 600
          @media (min-width: 992px)
            font-size: 30px
            line-height: 46px
          @media (min-width: 1400px)
            font-size: 36px
            line-height: 54px

        .pricing-content-description
          display: none
          &.active
            display: block
        .pricing-content-details
          padding-top: 12px
          font-size: 14px
          line-height: 18px
          color: #707275
          @media (min-width: 992px)
            font-size: 16px
            line-height: 24px
          @media (min-width: 1400px)
            font-size: 18px
            line-height: 27px

      &#hydroculture-standard
        padding-top: 60px
        .pricing-div
          margin-top: 25px

      .pricing-div
        margin-top: 65px
        padding-bottom: 20px
        .pricing-section
          display: none
          &.active
            display: block
        .indicator
          font-size: 28px
          line-height: 25px
          font-weight: 500
          letter-spacing: .5px
          text-transform: uppercase
        .btn-pricing
          margin-top: 18px
          margin-bottom: 54px
          min-width: 200px

      &#trendz-cloud
        .pricing-div

          .ml-form-embedWrapper
            padding: 0 0 23px 0

          li.pricing-square-item
            margin: 20px 0 0

          ul
            padding: 0 0 0 20px
            li
              list-style: disc

    .select-product-content
      height: 64px
      @media (min-width: 768px)
        height: 64px
      @media (min-width: 1200px)
        height: 96px
    .pricing-header-divider
      height: 8px
      width: 100%
      background-color: #102A4E
      &:not(.no-margin)
        margin-top: 64px
        @media (min-width: 768px)
          margin-top: 64px
        @media (min-width: 1200px)
          margin-top: 96px
    .pricing-hero
      position: relative
      z-index: 6
      min-height: 100px
      display: flex
      align-items: center

      .pricing-hero-content
        padding-top: 20px
        @media (min-width: 992px)
          padding-top: 56px
        h1
          margin-bottom: 0
          margin-top: 0
          font-size: 20px
          font-weight: 600
          line-height: 30px
          @media (min-width: 768px)
            font-size: 26px
            line-height: 36px
          @media (min-width: 992px)
            font-size: 30px
            line-height: 42px
          @media (min-width: 1200px)
            font-size: 42px
            line-height: 64px
          @media (min-width: 1400px)
            font-size: 48px
            line-height: 72px
        h5
          margin-bottom: 0
          margin-top: 12px
          font-size: 14px
          font-weight: 400
          line-height: 20px
          color: #707275
          @media (min-width: 1400px)
            font-size: 18px
            line-height: 27px

        .pricing-hero-description
          max-width: 800px
          margin: auto
          p
            margin-bottom: 0

    .inner-navigation
      position: relative
      margin-top: 32px
      display: flex
      justify-content: center
      align-items: center
      ul
        list-style-type: none
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        align-items: center
        margin: 0
        padding: 0
        li
          position: relative
          display: table
          height: 68px
          padding-left: 6px
          padding-right: 6px
          a
            text-decoration: none
            display: block
            line-height: initial
            text-align: center
            border: 1px solid rgba(0, 0, 0, 0.08)
            box-sizing: border-box
            border-radius: 34px
            font-size: 12px
            color: #212529
            font-weight: 400
            cursor: pointer
            padding: 8px 12px 8px 10px
            letter-spacing: 1px
            &:hover
              border-color: #212529
              border-width: 2px
              margin: -1px
            &:before
              display: inline-block
              content: ""
              vertical-align: middle
              margin-right: 6px
              width: 22px
              height: 22px
            @media (min-width: 992px)
              font-size: 14px
            @media (min-width: 1200px)
              font-size: 18px
              padding: 14px 32px 14px 24px
              &:before
                margin-right: 12px
                width: 38px
                height: 38px
            @media (min-width: 1400px)
              font-size: 24px

          &.tb-logo
            a
              &:before
                background: url('/images/pricing/thingsboard-icon.svg')
                filter: invert(11%) sepia(10%) saturate(825%) hue-rotate(169deg) brightness(93%) contrast(90%)
                background-size: contain
          &.trendz-logo
            a
              &:before
                background: url('/images/pricing/trendz-icon.svg')
                filter: invert(11%) sepia(10%) saturate(825%) hue-rotate(169deg) brightness(93%) contrast(90%)
                background-size: contain
          &.tb-edge-logo
            a
              &:before
                background: url('/images/edge/tb-edge-logo-black.svg')
                background-size: contain
          &.active
            z-index: 5
            a
              color: #fff
              background-color: #2A7DEC
              box-shadow: 0 18px 16px -10px rgba(42,125,236,0.25)
              &:hover
                border-color: #2A7DEC
                border-width: 1px
                margin: unset
            &.tb-logo
              a
                &:before
                  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(242deg) brightness(107%) contrast(101%)
                  background-size: contain
            &.trendz-logo
              a
                &:before
                  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(242deg) brightness(107%) contrast(101%)
                  background-size: contain
            &.tb-edge-logo
              a
                &:before
                  background: url('/images/edge/tb-edge-logo-white.svg')
                  background-size: contain

.trndz-swal-license
  .trndz_dialog_list
    display: flex
    flex-direction: column
    align-items: center

    li
      margin-bottom: 20px
      max-width: 200px
      text-align: center

  .sa-button-container
    display: flex
    justify-content: space-between
