<!Doctype html>
<html id="hydroculture-edge">

{% include head-header.html productTag="edge" %}
<!--  HERO  -->
<section id="hero" class="light-text"
         data-vide-bg="mp4: https://s3-us-west-1.amazonaws.com/tb-videos/edge-cover.mp4,
                       poster: /images/hydroculture-edge/preview.png"
         data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
    <div class="video-cover"></div>
    <div id="hero-content">
        <h1 class="header-animation edge-title">Hydroculture IoT Edge</h1>
        <h2 class="header-animation edge-description">Distribute data processing and analysis using edge computing</h2>
        <div class="header-animation">
            <a href="#encyclopedia" class="button try-edge">Learn More</a>
            <a href="/products/hydroculture-edge/request-demo" class="button try-edge">Request a Demo</a>
        </div>
        <div class="paas-arrow">
            <a href="#encyclopedia"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<section id="encyclopedia">
    <div id="edgeContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<script type="text/javascript">
    jqueryDefer(function () {
        vis(function() {
            if (vis()) {
                slideUp();
            }
        });
        $('#hero-content > .paas-arrow > a, #hero-content a.try-edge').click(function(event) {
            event.preventDefault();
            var target = $('#encyclopedia');
            $('html, body').animate({
                scrollTop: target.offset().top - 60 //header height
            }, 1000, "easeOutCirc");
        });

    });

    inViewportDefer(function() {
        $("#hero-content").inViewport(function(px){
            if($(this).height()-px >= 60) {
                $(this).addClass("arrow-hidden");
            } else {
                $(this).removeClass("arrow-hidden");
            }
        });
    });

    function slideUp() {
        var headAnimations = $('#hero-content').find('.header-animation');
        for (var i=0;i<headAnimations.length;i++) {
            reinsert($(headAnimations[i]));
        }
    }

    function reinsert(el) {
        var newone = el.clone(true);
        el.before(newone);
        el.remove();
    }

</script>

{% include cookie-consent.html %}

</body>
</html>
