<!Doctype html>
<html id="hydroculture-saas">

{% include head-header.html productTag="paas" %}
<!--  HERO  -->
<section id="hero" class="light-text"
         data-vide-bg="mp4: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.mp4,
                       webm: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.webm,
                       ogv: https://s3-us-west-1.amazonaws.com/tb-videos/pe-cover.ogv,
                       poster: /video/pe-cover.jpg"
         data-vide-options="bgColor: #000000, loop: true, muted: true, posterType: jpg">
    <div class="video-cover"></div>
    <div id="hero-content">
        <h1 class="header-animation paas-title">Hydroculture IoT Cloud</h1>
        <div class="header-animation">
            <a href="/pricing/" class="button try-paas">Try it now</a>
        </div>
        <div class="paas-arrow">
            <a href="#intro"><i class="fa fa-chevron-down fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</section>

<section id="encyclopedia">
    <div id="paasContent" class="noToc">
        {{ content }}
    </div>
</section>

{% include footer.html %}

<script type="text/javascript">
    jqueryDefer(function () {
        vis(function() {
            if (vis()) {
                slideUp();
            }
        });
        $('#hero-content > .paas-arrow > a').click(function(event) {
            event.preventDefault();
            var target = $('#encyclopedia');
            $('html, body').animate({
                scrollTop: target.offset().top - 60 //header height
            }, 1000, "easeOutCirc");
        });

    });

    inViewportDefer(function() {
        $("#hero-content").inViewport(function(px){
            if($(this).height()-px >= 60) {
                $(this).addClass("arrow-hidden");
            } else {
                $(this).removeClass("arrow-hidden");
            }
        });
    });

    function slideUp() {
        var headAnimations = $('#hero-content').find('.header-animation');
        for (var i=0;i<headAnimations.length;i++) {
            reinsert($(headAnimations[i]));
        }
    }

    function reinsert(el) {
        var newone = el.clone(true);
        el.before(newone);
        el.remove();
    }

</script>

{% include cookie-consent.html %}

</body>
</html>
