<!Doctype html>
<html id="plain">
{% if page.title %}{% assign title=page.title %}{% endif %}
{% if page.description %}{% assign description=page.description %}{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.customTitle == "true" %}
    <title>{{ title }}</title>
    {% seo title=false %}
    {% else %}
    {% seo %}
    {% endif %}
    {% if description %}
    <meta name="twitter:description" content="{{ description }}"/>
    {% endif %}
    {% if page.no_canonical != true %}<link rel="canonical" href="https://hydroculture.com{{page.url}}" />{% endif %}
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <script type="text/javascript">
        function _gaLt(event) {
            /* If GA is blocked or not loaded, or not main|middle|touch click then don't track */
            if (!ga.hasOwnProperty("loaded") || ga.loaded != true || (event.which != 1 && event.which != 2)) {
                return;
            }
            var el = event.srcElement || event.target;

            while (el && (typeof el.tagName == 'undefined' || el.tagName.toLowerCase() != 'a' || !el.href)) {
                el = el.parentNode;
            }
            if (el && el.href) {
                var link = el.href;
                if ((link.indexOf(location.host) == -1 || link.indexOf('.' + location.host) > 0) && !link.match(/^javascript\:/i)) {
                    var target = (el.target && !el.target.match(/^_(self|parent|top)$/i)) ? el.target : false;
                    if (event.ctrlKey || event.shiftKey || event.metaKey || event.which == 2) {
                        target = "_blank";
                    }

                    var hbrun = false; // tracker has not yet run
                    var hitBack = function() {
                        if (hbrun) return;
                        hbrun = true;
                        window.location.href = link;
                    };

                    if (target) {
                        ga(
                                "send", "event", "Outgoing Links", link,
                                document.location.pathname + document.location.search
                        );
                    } else {
                        event.preventDefault ? event.preventDefault() : event.returnValue = !1;
                        ga(
                                "send", "event", "Outgoing Links", link,
                                document.location.pathname + document.location.search, {
                                    "hitCallback": hitBack
                                }
                        );

                        setTimeout(hitBack, 1000);
                    }
                }
            }
        }

        var _w = window;
        var _gaLtEvt = ("ontouchstart" in _w) ? "click" : "mousedown";
        _w.addEventListener ? _w.addEventListener("load", function() {document.body.addEventListener(_gaLtEvt, _gaLt, !1)}, !1)
                : _w.attachEvent && _w.attachEvent("onload", function() {document.body.attachEvent("on" + _gaLtEvt, _gaLt)});
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-88383331-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
{{ content }}
